[2018-01-09 06:36] pool611 opened #1 "images with too high or too wide"
if image is too high or too wide，it can't see the whole image. dragging image is not usefull to see the whole image. could you consider this question?
thank you

[2018-01-09 19:10] mcstudios commented on #1
Can you tell which browser are you using? there's definitely something happening but the image should never grow bigger than the browser window.

Take a look at the video below, the image displayed has a width of 3800px and height of 2533px and the browser window was about 1700px width, still there's something happening [Watch Video](https://www.youtube.com/watch?v=xc15CMD3dCc&feature=youtu.be)

I

[2018-01-10 21:14] mcstudios commented on #1
If you have a chance give a try to the latest version and let me know if that works for you

[2018-01-11 03:33] pool611 commented on #1
Yep，image is resized by the phone‘s screen now.
Thanks again
There is another image's situation on the phone like this:
![long-screenshot-on-oppo-f1-271x1024](https://user-images.githubusercontent.com/10056712/34806345-639995ca-f6bd-11e7-934e-122ea93f7680.png)
Long screenshot is too long and if resizing it, it becomes smaller and the text could not be see clearly.
Whether Special support should be

[2018-01-13 02:16] mcstudios commented on #1
Well for this kind of images shrinking the image to fit the device screen is not the best approach. I think that if the image is really long then we should fit only the image width with the screen and let the user drag (scroll) the image with one finger, let me know what you think or if you have a better idea.

[2018-01-15 01:11] pool611 commented on #1
That's what I think. May be better that if height/width(image) > height/width(screen), using the new way(drag or scroll) to view image, if height/width(image) <= height/width(screen), using the present way(shrink the image to fit the device screen) to view image.
:)

[2018-02-02 07:32] pool611 opened #2 "image can't show by initialized more times"
when I initialized GLightbox twice or more，images would not show any more. Because I use ajax to refresh or page load the webview, so GLightbox may be initialized more times. It may be that I use it incorrectly.
:(

[2018-02-02 08:03] mcstudios commented on #2
We have used Glightbox before with ajax without problems, can you send us a link or shows us your code to see what's happening?

[2018-02-05 01:34] pool611 commented on #2
em...
For example that I use Vue to bind data:
`
<div v-for="url in imageList">
  <a v-bind:href="url" class="glightbox">
    <img v-bind:src="url"/>
  </a>
</div>
<script type="text/javascript">
new Vue({
    ...
    data:{
         imageList:["1.png"],
    },
    methods:{
        refresh function(imageListData){
             // Get imageListData by ajax to refresh imageList
             // Befo

[2018-02-05 02:01] #1 closed

[2018-03-06 03:32] pool611 commented on #2
[code]

[2018-03-06 03:32] #2 closed

[2018-03-26 10:54] AlexDRiVER opened #3 "Api problem"
`var myLightbox = GLightbox();`

No method works, variable myLightbox is undefined

[2018-03-26 17:29] mcstudios commented on #3
You are right, the error was fixed, please download again an include the new version of glightbox.js

[2018-03-27 03:42] #3 closed

[2018-03-27 16:53] moxdev opened #4 "Turn off moreText a tag"
Is there a way to disable to desc-more link so it shows the full description while in mobile? I want it to show the full description without having to click the see more link.

[2018-03-27 19:46] mcstudios commented on #4
We have added a new option called moreLength, you can configure the number of characters to display in the description before the moreText a tag, if you enter 0 (int) the entire description will be displayed.

Please download again and try it.

[2018-03-27 20:57] moxdev commented on #4
Brilliant! Its working fine thank you for the quick response!

[2018-03-27 20:57] #4 closed

[2018-04-11 17:16] moxdev opened #5 "Close lightbox by clicking anywhere off of the image"
We want to be able to close the lightbox by clicking anywhere off of the image instead of just clicking the close button. Is there an option for that or would I have to add some custom js?

[2018-04-11 17:45] mcstudios commented on #5
There's no option for that but you can attach an event listener when the lightbox is opened for example:

[code]

That's just an idea, Let me know if this helps.

[2018-04-16 19:08] moxdev commented on #5
Thanks for the head start I was able to get it working. Thanks again for the quick reply and glightbox is a great library!

[2018-04-16 19:08] #5 closed

[2018-04-18 16:03] nickdekruijk opened #6 "image stretched out"
Because you scale images with max-width and max-height large images that don't fit the viewport are scaled only vertically or horizontally so the image stretches out and they look malformed. Maybe add some javascript to fix aspect ratio? Or a simple solution would also be to show the image as a background of the container using background-size:contain

[2018-04-18 16:34] mcstudios commented on #6
Are you using the latest version? that happened in an early version of glightbox and really large images but it was fixed.

Can you please try the latest version and if the problem persists can you provide an example? also let me know the web browser that you are using.

[2018-04-18 16:51] nickdekruijk commented on #6
Downloaded directly from website. It seems to link to https://github.com/mcstudios/glightbox/releases/download/1.0/release.zip

[2018-04-18 17:07] mcstudios commented on #6
Ohhh my bad, i need to update that link, that points to an old version. but the error you mention has already been fixed, so please try the latest version, just clone or download from github.

[2018-04-18 17:37] nickdekruijk opened #7 "fade openEffect and closeEffect don't work"
Testing out the fade openEffect (don't really like zoom) but it only seems to fade the modal background and not the image itself.
Changing closeEffect doesn't seem to have any effect, it will always zoom out.

Personally I might prefer no effect at all, just hard show/hide. Maybe a suggestion for next update?

[2018-04-18 21:56] mcstudios commented on #7
I'll take a look at that, the no effect option will be added in the next update :)

[2018-04-18 22:04] nickdekruijk commented on #7
@mcstudios Cheers!
Another idea: Close the lightbox when you click on the entire background, and not just the close button. Or even better (for me at least) clicking on an image closes it too. Optional of course.

[2018-04-18 22:29] mcstudios commented on #7
That was commented before [here](https://github.com/mcstudios/glightbox/issues/5), i'll give it a try, i always press the esc key to close the lightbox so never consider it before. if i'm able to do it with a small amount of code i'll include it.

[2018-04-23 11:02] snc opened #8 "lightbox.destroy() throws error"
This can be reproduced by running `lightbox.destroy()` in the console on the demo page. Like in my case, the slides do not contain any video.

When calling `destroy()` the following error is thrown:

[code]

Line numbers are from v1.0.4 release zip and differ a bit on master.

[2018-04-25 05:33] mcstudios commented on #8
Thank's for the report, I'll take a look at that 😄

[2018-04-29 11:05] nickdekruijk commented on #7
Seems to work! Thanks for the update.
Btw. On your demo usage and options page (http://glightbox.mcstudios.com.mx) 'CloseButton' option is shown twice.

[2018-04-30 02:15] mcstudios commented on #7
Thank's all fix that, i'll close this now, if you have any other issue or request, feel free to open a issue. :)

[2018-04-30 02:15] #7 closed

[2018-05-02 22:03] #8 closed

[2018-05-20 22:29] lucidlemon opened #9 "publish on npm"
would be great if this package could be pushed to npm so we can install it easier.

[2018-05-25 09:17] gitrequests opened #10 "Feature for zooming images?"
By dblclick or click some icon.

[2018-05-25 09:22] gitrequests opened #11 "Prev/Next image by MOUSE dragging (touch work perfect!)"

[2018-05-26 04:33] mcstudios commented on #11
I want to keep the library small, i'm open to this idea if more people want this to be implemented but for now there are no plans to integrate this feature.

[2018-05-26 04:33] mcstudios commented on #10
I want to keep the library small, i'm open to this idea if more people want this to be implemented but for now there are no plans to integrate this feature.

[2018-05-26 04:37] mcstudios commented on #9
Working on that :)

[2018-06-06 21:40] ndimatteo opened #12 "sourcetype wrong. Can we manually set sourcetype?"
It seems that the `sourcetype` is incorrectly applied when using certain URLs. For example when using images from unsplash.it, which look like this: `https://unsplash.it/1200/800` it thinks it's an `iframe` when in fact, it's an `image`.

It would be great if there was a way to set the `sourcetype` manually, rather than have the plugin guess, as it's not fully reliable.

perhaps an option of `type

[2018-06-07 09:18] musiclover174 opened #13 "Add method for open custom popup"
like fancybox $.fancybox.open({})

or i blind and this method are realized?

and be very cool if i can call popup manually gallery.open() or else

[2018-06-07 15:33] mcstudios commented on #12
Published version 1.0.6, now you can specify the type of the element using data-glightbox="type: image"

Let me know if this helps :)

[2018-06-07 15:36] mcstudios commented on #13
Published version 1.0.6, please download again and check [the api section](https://glightbox.mcstudios.com.mx/#api)

Also a new method was added "setElements"

Let me know if this helps you :)

[2018-06-14 19:53] #12 closed

[2018-06-14 20:02] #13 closed

[2018-06-15 07:42] musiclover174 commented on #13
Good job.
And some more else:
Do you have in plans make grouped elems by data-attr?
I want to initialize ligthbox one for one similar class and have other groups. In current realizations elems grouped by class and i must initialize twice if i want 2 different groups on one page

[2018-06-18 19:53] mcstudios commented on #13
You can use  data-gallery="yourname" to group the images in multiple sets

[2018-06-22 11:41] nickdekruijk opened #14 "Responsive video"
I would like videos to be able to scale with the window size. Respecting aspect ratio.
By default it's set to 900 x 506 but if your window is smaller then that it gets awkward.
When it doesn't fit width then the video gets smaller but with a black background. When it doesn't fit height the video gets cropped at the bottom.

Besides that, I think 960 x 540 is a better default video size as 506 is a

[2018-06-23 21:11] mcstudios commented on #14
Does this happen with a specific browser? i'm checking the videos but they are resized correctly with the browser window (or at least i'm not able to see anything awkward), Do you have a working example?

About the default video size i think you are right, i'm going to check it.

[2018-06-24 09:51] nickdekruijk commented on #14
Any browser on my MacBook. (Safari, FF, Chrome)
Samples on http://glightbox.mcstudios.com.mx have te issues too.
<img width="1094" alt="screen shot 2018-06-24 at 11 50 57" src="https://user-images.githubusercontent.com/607302/41817932-f49510b4-77a4-11e8-94cb-210a4aabcb8f.png">
<img width="1244" alt="screen shot 2018-06-24 at 11 50 42" src="https://user-images.githubusercontent.com/607302/41817933-

[2018-06-28 14:42] lucidlemon commented on #9
https://docs.npmjs.com/getting-started/publishing-npm-packages

this is a 2 minute process and would help your module grow by at least 1337%.

[2018-06-28 21:31] mcstudios commented on #9
Sorry for not getting back to you earlier.

GLightbox was published on npm, please check the updated description and let me know how it goes.

[2018-06-29 07:38] lucidlemon commented on #9
yep works. thanks!

[2018-06-29 07:38] #9 closed

[2018-07-04 09:49] 1ucay opened #15 "rebind after ajax?"
Hi, I have dynamic content via ajax. How can I rebind glightbox? Thank you

[2018-07-04 10:07] 1ucay commented on #2
I have same problem...

[2018-07-04 22:30] mcstudios commented on #15
I'm currently working on a project that uses ajax to load a portfolio so I was planning to update GLightbox to make it easier on this cases, for example:

[code]

I'm still working on this, let me know what you think.

[2018-07-16 08:05] MilenFrom commented on #15
Is there any progress on that?
On success I'm destroying the previous glightbox and reinitiate.
However I think this isn't the best solutions.

[2018-07-17 10:49] mittermayr opened #16 "Close Button can't be disabled"
While there's a setting for it, it seems not to be taken into account when disabled.

[code]

Still shows the closeButton. I checked the code and it does only seem to attach an event to it, or not, based on that setting. Am I wrong?

[2018-07-26 07:04] rolandcsige opened #18 "The description contains the <A> tag"
HTML:
`<li class="box visible">
          <a href="demo/img/large/gm7.jpg" class="glightbox2" data-glightbox="title:Description Bottom; description: You can set the position of the desciption; descPosition: right;">
						<img src="demo/img/small/gm7.jpg" alt="image">
					</a>
        </li><div class="glightbox-desc">
							<p>You can set the position of the desciption in different ways for exam

[2018-07-29 06:35] evanwarner commented on #12
Just wanted to say I came here with this same problem because the CMS I use can re-crop images on the fly and the crops were showing in iframes. This solved it perfectly so thank you!!!

[2018-08-03 14:33] bramus opened #19 "Uncaught TypeError: Cannot read property 'offsetWidth' of null"
When importing GLightbox as an ES6 module (e.g. `import GLightbox from 'glightbox';`) it spits out this error when clicking a link that matches the selector:

<img width="457" alt="screen shot 2018-08-03 at 16 31 10" src="https://user-images.githubusercontent.com/213073/43648425-a6e48470-973a-11e8-8268-5efe819b4841.png">

_(No special config is used, only the `selector` option is passed into the `

[2018-08-05 16:37] MilenFrom commented on #15
I made a screencast, after ajax request can't load the previous photos
https://youtu.be/iEstrWkUEtg

[2018-08-13 15:56] yhensel opened #20 "The video does not work in mobile devices"
I was trying to use your library but when I load the page in my iPhone 7, the videos is not being showed, the screen rest in black.

I thoungt there was a problem with my devise so I did the same in Firefox with the same result. After try it out in the page I'm actually developing I also did it with your demo. And the problem remains

[2018-08-15 10:13] designspin commented on #20
I've just checked out the demo on the glightbox website using my iPhone 7. It appears the vimeo and youtube videos do not work. The buck bunny example works just fine.

[2018-08-15 15:37] ezebecke commented on #20
@designspin go to the CSS file and change this property:

`iframe.wait-autoplay {
  opacity: 0;
}`

opacity should be 1:
`iframe.wait-autoplay {
  opacity: 1;
}`

[2018-08-15 15:42] designspin commented on #20
@ezebecke , thanks i'll give it a go. This is going to be a real time saver on a current project. Thanks mcstudios for all your hard work.

[2018-08-16 10:39] designspin opened #21 "Regex on src for images"
I was playing with glightbox yesterday and discovered that if the src of your image has any params it will end up in an iframe and treated as a video.

Looking at the code it looks like the regex check is just checking the end of a string for '.jpg' or '.jpeg' etc....

For my current project i am using urls that have params such as 'https://somesite/somefile.jpg?mtime=023473663', in these cases th

[2018-08-16 15:14] mcstudios commented on #21
Hi, for those kind of situations you can define the type you want, take a look at this [issue](https://github.com/mcstudios/glightbox/issues/12)

Let me know if this helps.

[2018-08-16 15:36] designspin commented on #21
Awesome, that does look like it would resolve my issue. Many thanks.

[2018-08-16 15:36] #21 closed

[2018-08-17 11:23] designspin opened #22 "Scrolling to top of browser."
When clicking an item in my gallery the browser moving to the top of the browser. Is there a way to prevent this? I see the demo site does not show this behaviour so it is something I am doing wrong!

I tried adding a preventDefault on the anchor containing the gallery image!

[2018-08-19 14:30] dominik-wbz opened #23 "Should add option to force image from cdn"
Some cdn eg. uploadcare has images in url without extension e.g. https://ucarecdn.com/90964191-dfa2-4a22-8118-8a9e460fff9b/

This then causes the image to appear in iframe as this condition fails:

`if (url.match(/\.(jpeg|jpg|gif|png)$/) !== null)`

I added a temporal solution for my project

`if (url.match(/\.(jpeg|jpg|gif|png)$/) !== null || url.match(/ucarecdn.com/))`

Would be nice to implemen

[2018-08-19 20:00] mcstudios commented on #23
Already answered [here](https://github.com/mcstudios/glightbox/issues/12) and [here](https://github.com/mcstudios/glightbox/issues/21)

[2018-08-19 20:00] #23 closed

[2018-08-22 18:40] krtek4 commented on #10
Hey,

I would also love to have zooming abilities, otherwise, maybe a recommendation for a library that might work with glightbox ?

[2018-08-29 08:45] WilliamRayo commented on #20
@ezebecke i had the same problem, your solution works perfectly !! thanks ;)

[2018-08-29 12:33] awps commented on #22
Same here. Any solutions on this?

[2018-08-29 16:20] victor-in opened #24 "Duplicate ids in div lightbox"
I have a form inside a div which is then displayed using the lightbox. When opened glightbox duplicates the div to show the content. This causes issues with ids, since they also get duplicated and aren't unique anymore.

For example label elements using the for-attribute stop working as well as assigned event-listeners.

Maybe moving the div instead of duplicating it could solve this.

Cheers,
Vic

[2018-09-01 03:54] evanwarner opened #25 "Request: determine length of gallery by unique slides not triggers"
My use case: building an event calendar and using glightbox to show event details (from a hidden in-page element) when events are clicked.

In this case, there are repeating events where each instance on the calendar points to the same details. But since glightbox controls the length of a gallery by how many triggers it has, what I get is a slideshow that contains the same details container X time

[2018-09-02 02:04] mcstudios commented on #25
Hi, you can controls the elements in the gallery passing them in the options for example:

[code]

Then you can open the gallery with lightbox.open() or you can overwrite the elements in the gallery using lightbox.setElements([..check the above example]);

Let me know if this helps.

[2018-09-02 02:13] mcstudios commented on #24
Hi, not sure that's a good solution, moving the div out of it's container could cause problems like (losing css style, losing event listeners, etc.) GLightbox can be applied to many type of elements so moving the element is not an option.

I recommend you that you listen the open method and you could manipulate your form, for example:

[code]

Hope this helps

[2018-09-02 02:15] mcstudios commented on #22
Could you guys post a link to a live example, maybe sharing browser info or any information that helps to figure out what's happening?

[2018-09-02 02:40] mcstudios commented on #15
Sorry for the delay guys. The reload method has been added so you can try it and let me know how it goes

[2018-09-02 02:40] mcstudios commented on #16
You are right, that was solved in the lates update, 1.0.7. The setting will now correctly remove the close button.

[2018-09-02 02:41] mcstudios commented on #20
Hi guys, please try the latest update 1.0.7, this error should be fixed there.

[2018-09-02 08:41] nickdekruijk commented on #22
Your own demo page has this issue! (Safari on MacOS)

[2018-09-02 20:51] mcstudios commented on #22
Well, I'm checking it on safari (Mac os) and not able to see that error, take a look at this [video](http://youtu.be/nTf4qRaX27A)

I'm gonna need some help with this, already tried in safari, chrome, opera and firefox but I'm not able to replicate that error.

[2018-09-03 12:26] rob-anythingagency opened #26 "Autoplay issue: Youtube"
Hi,

I am experiencing an autoplay issue on youtube embeds (desktop).

When first opening the lightbox the youtube video will not autoplay, if you close the lightbox and then re-open it the video will now autoplay.

This happens both in my code and on your example website (the issue doesn't effect the Vimeo or JW player options).

Any idea of the cause?

Thanks

[2018-09-03 13:02] nickdekruijk commented on #22
Hmm... I was sure I've seen it on your demo site too, can't reproduce that now tho.
But check out this site: https://bit.ly/2NHHAll scroll down a bit and click the play video button.

[2018-09-04 09:02] markmangrove opened #27 "If image has no extension not reconized as image"
When i paste in an image in the href without an image extension, like this for example: https://picsum.photos/1200/700/?image=40
The lightbox will be opened as a iFrame and i get (except for Chrome) unexpected styling results.

`<div class="gslide-media gslide-external"><iframe class="vimeo-video gvideo iframe-ready" src="http://unsplash.it/800/600?random" style="height: 506px; width: 900px;" allo

[2018-09-04 13:07] losbeekos commented on #22
I've got a bug that's somewhat related to this.

On mobile it's still possible to scroll the body when the lightbox is open, just scroll a bit slanted and the page gets scrolled behind the lightbox.

@mcstudios You got an idea so I can resolve this quickly?

[2018-09-04 13:37] losbeekos commented on #27
You can add `data-glightbox="type: image"` to your `a` tag so glightbox knows it's an image.

[2018-09-04 20:28] #27 closed

[2018-09-04 20:37] mcstudios commented on #26
When you open the video for the first time it will load the required API (youtube, vimeo, jwplayer, etc.) Once the api is loaded it will autoplay|pause|stop using the methods from the api.

I'm not able to replicate the error so it's going to be a little difficult to know what's happening but i'll try to replicate it.

[2018-09-05 06:36] rob-anythingagency commented on #26
Hi, Thanks for the reply.

To replicate:

Go to: https://glightbox.mcstudios.com.mx/
Scroll to Videos Gallery
Click on middle thumbnail
Lightbox will open with embed, but will not autoplay (at least it doesn't for me)
Click to dismiss
Click on middle thumbmail again
Lightbox will open with embed, this time it will autoplay

I would expect it to autoplay on the first open, if the autoplay options h

[2018-09-09 02:35] #25 closed

[2018-09-09 02:35] #24 closed

[2018-09-09 02:36] #20 closed

[2018-09-09 02:36] #16 closed

[2018-09-09 02:36] #15 closed

[2018-09-13 12:23] nghiepdev opened #28 "Scrollbar always showed on mobile devices"
Hi guys,

In iOS 11, when the lightbox opened then the scrollbar always is shown on mobile devices.

[2018-09-13 15:56] nickdekruijk opened #29 "npm isn't updated"
Just dit a npm install glightbox and I noticed it's still version 1.0.6 and not the expected 1.0.7

[2018-09-13 16:34] nickdekruijk opened #30 "Can't use : or ; sign in description text"
How can I get something like this to work?

`data-glightbox="title:Test; description: size: M<br>price: 100"`

Can't use : or ; sign in description text since it's also used to split the options.
One suggestion would be to make \: work or :: is replaced with a single : or something.

Actually I think it would be better to give each option it's own data property? For example
`data-glightbox-title="

[2018-09-13 16:49] mcstudios commented on #30
You can't use : or ; there but you can create a div with the class "glightbox-desc" and put anything you want in there, check the Images with description example in the index.html file (the second element).

Let me know if that helps.

[2018-09-13 16:56] nickdekruijk commented on #30
I tried it, but that means having a <div> tag inside a <a> tag, which is just a bad idea. Also that means I can't use my own links inside the description since adding a </a> tag inside the glightbox-desc div will break the main <a> tag that opens the glightbox

[2018-09-13 19:04] mcstudios commented on #30
You are right, the div is not the best solution, we need to think a solution to handle : and ; within the data parameter. If you have any idea let me know, this is something that will benefit a lot of people so i'm open to make some changes to make it work.

Another "solution" is to pass the elements directly to the lightbox like:

[code]
The problem with this approach is that the lightbox will al

[2018-09-14 09:15] nickdekruijk commented on #30
The problem isn't actually using those 2 characters. I just used that example to simplify the example. The real issue is that I want to be able to add links in the description. And links often have : in it (https:// or mailto: for example)

[2018-09-14 14:17] mcstudios commented on #30
Not sure why https:// or mailto: are a different problem. No matter the string you use, if you put : or ; it will break. GLightbox only looks for those characters to split the string.

I had an idea to split the string without using those characters as reference but i'm not gonna be able to work on this till next week, this will fix this issue. One thing that i wanted when creating GLightbox was t

[2018-09-19 06:10] losbeekos opened #31 "Lightbox doesn't work in IE11 once minified"
In IE11 the following error is thrown on a production/minified build:

`multiple definitions of a property not allowed in strict mode`.

I forked the package and deleted the 'use strict' line so it will work for now but I think we need a proper solution :).

[2018-09-20 08:47] alinnert commented on #31
I'm experiencing the same issue but with a different error: `The object doesn't support the property or method "addEventListener".` When I debug the error to find out what "the object" is, it turns out to be a `forEach` function with `native code` in its body. So, it's calling `forEach.addEventListener()`?

I've tried to find the cause of the error by commenting out each of my modules. I was able

[2018-09-24 15:56] nickdekruijk opened #32 "descPosition not working when called as javascript option"
This doesn't seem to do anything:
[code]
However this does work:
[code]

[2018-09-25 05:44] drnkwati opened #33 "How to set responsive width and height"
The light box option for width and height is set to 900 and 506
Is they a way to make it responsive by default.
I don't like the scrollbars showing up with larger images or
the extra canvas when the image is smaller.

[2018-09-29 04:56] drnkwati opened #34 "Where are the cdn hosted files"
Hi
please can the files be hosted on a cdn
i suggest cdnjs and jsdelivr
thanks

[2018-09-29 12:41] MartinKolarik commented on #34
It's available at jsDelivr: https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js all other files from this repository are there too.

[2018-09-29 18:08] drnkwati commented on #34
Yeh I figured that out today.
Thanks and good job.

[2018-09-29 18:08] #34 closed

[2018-10-11 10:16] 314parley opened #35 "Setting title/description programmatically"
Hi! I am very interested in your library. however, I was wondering if there's a way to set the title and description programmatically across all of the images?

I attempted to set the href to different things, but none of which worked successfully.

any way I can make it work properly through setElements or another workaround?

[2018-10-15 18:32] mcstudios commented on #30
I've fixed the problem with : or ; characters also the latest version (1.0.8) now allows you to use different data attributes for example data-title="Lightbox title" data-description="my description"

Please try it and let me know how it works.

[2018-10-15 18:32] mcstudios commented on #29
Updated

[2018-10-15 18:32] #29 closed

[2018-10-15 18:32] mcstudios commented on #32
Fixed in the latest update 1.0.8

[2018-10-15 18:32] #32 closed

[2018-10-15 18:34] mcstudios commented on #31
I've fixed some issues with IE11 but I was not able to replicate the same errors you mention.

Please try the latest version and if you still see the errors please provide a live example so I can take a look.

[2018-10-16 15:43] mcstudios commented on #31
Hi @alinnert
If you check the dist folder you'll see a minified version of Glightbox using gulp-uglify which uses UglifyJS under the hood.

Did you try the minified version available in the dist folder? if so, do you get the same error?

I don't use Webpack so I'm not sure how the code is minified so if Webpack's minimization is causing the issue then I'm gonna need some help to "solve" this.

[2018-10-16 19:11] alinnert commented on #31
Webpack uses [`uglify-es`](https://github.com/mishoo/UglifyJS2/tree/harmony) by default - which seems to be a ES6+ compatible branch (not a fork) of uglify-js itself. (I also didn't know that until now). But I can't find any default options being used or set by Webpack or its UglifyJsPlugin.

I can't really use your minified version. One option would be to serve it separately. This defeates the pu

[2018-10-23 03:53] 314parley commented on #35
I don't have a live example of this, like
![screen shot 2018-10-22 at 8 17 47 pm](https://user-images.githubusercontent.com/1246441/47334413-a8e82200-d63b-11e8-8ec2-e7440d7aec9f.png)
, and imagine I have a large set of images, and I want to set the title, and description via javascript, dynamically.

I know about `data-title` `data-description`, but your setElements function requires an exact URL.

[2018-11-01 05:38] mcstudios commented on #30
Closing this for now, feel free to open new issues if required

[2018-11-01 05:38] #30 closed

[2018-11-01 05:39] mcstudios commented on #26
Closing this for now, feel free to open a new issue if required

[2018-11-01 05:39] #26 closed

[2018-11-01 05:39] #22 closed

[2018-11-05 15:07] remi-smoothlane opened #36 "prevent page from jumping top when glightbox opens"
Hello,

I got one minor issue that makes the page jumps top when the lightbox opens up. I've tried few things like adding `e.preventDefault();` when clicking on the lightbox ClassName but it doesn't seems to do the trick.

Any idea where this issue could come from ?

Many thanks

[2018-11-05 15:35] mcstudios commented on #36
Hi, please check this closed [issue](https://github.com/mcstudios/glightbox/issues/22)

[2018-11-05 15:43] remi-smoothlane commented on #36
Problem solved. Thank you

[2018-11-05 15:44] mcstudios commented on #36
No problem :)

[2018-11-05 15:44] #36 closed

[2018-11-13 15:51] bramus commented on #19
Nopes, no solution yet. I eventually moved away from glightbox to https://github.com/sachinchoolur/lightgallery.js

[2018-11-14 09:15] gitrequests commented on #19
Be careful with license for this plugin.

[2018-11-22 15:47] obendev opened #37 "Use svg instead of png for closing button"
Hey!
Instead of the background png on `.glightbox-clean .gclose, .glightbox-clean .gnext, .glightbox-clean .gprev` you could use a svg.
Example:
[code]
(You have to adjust the size on the viewBox)
Want to use it as a background-image? No problem!
https://websemantics.uk/tools/svg-to-background-image-conversion/

Great lightbox, never have seen a better one before, especially with vanilla JS, keep

[2018-11-23 06:15] mcstudios commented on #37
Hi @obendev, i'm really glad you like GLightbox.

About the svg, i'll definitely give it a go as soon as i have some free time.

[2018-11-23 07:11] obendev commented on #37
Sounds great. Make sure to add a fill color on the path before you convert it, at least in case you want to include it as a background image. 😇

[2018-11-26 07:54] englishextra commented on #22
@mcstudios @nickdekruijk @awps

It's not the way it is described above.

The source code adds class to `<html>` and `<body>`:
[code]
and this class riuns your setup.
[code]

If your base css has:

[code]

you should keep it, and not spoil it:

[code]

[2018-11-26 17:56] gitrequests opened #38 "npm package too big for jsDelivr"
I'm trying to load this package from [jsDelivr CDN](https://www.jsdelivr.com/package/npm/glightbox) but it fails because the package is over 50 MB. Are there any files that could be removed to reduce the package size?

[2018-11-26 21:42] MartinKolarik commented on #38
The whole `demo` directory should be excluded from npm.

[2018-12-04 09:40] mcstudios commented on #38
Excluded the demo directory from npm, i'll publish the update today.

[2018-12-04 09:40] #38 closed

[2018-12-04 11:13] mcstudios commented on #31
@alinnert it seems that uglify-es is no longer maintained https://github.com/mishoo/UglifyJS2/issues/3156#issuecomment-392943058

[2018-12-04 14:24] alinnert commented on #31
@mcstudios yes, and according to [this reddit post](https://www.reddit.com/r/javascript/comments/a2pq73/support_terser_js_minifier_do_not_let_the_history/) neither UglifyJS nor uglify-es aren't maintained anymore. The current successor seems to be [Terser](https://github.com/terser-js/terser) - Webpack also uses Terser now. I've replaced uglify-es with terser in one project and the options seem to

[2018-12-04 17:34] mcstudios commented on #31
@alinnert i'll try Terser and check what's happening.

[2018-12-05 15:33] mcstudios commented on #31
@alinnert I did some changes, the code is now minified with terser, updated some code to fix the errors on ie11, if you have some free time please try it and let me know if it works.

[2018-12-11 07:15] alinnert commented on #31
@mcstudios Yes, it works now. Thank you.

The only thing is: IE doesn't scale down the image if it's too big. But I found a way to fix that:

Replace:

[code]

...with:

[code]

This doesn't seem to break Chrome and Firefox.

*) *I know, `100%` and `100vw` are different because `100vw` includes the with of the scrollbar, but there are none in the overlay. So it should be fine.*

[2018-12-11 16:26] mcstudios commented on #31
Awesome. I'll try your fix with more browsers and mobile and if everything looks good i'll include it in the next update. I'm gonna close this issue for now as we are moving away from the original issue, feel free to open new issues if you find a bug.

[2018-12-11 16:26] #31 closed

[2018-12-12 03:58] Kelsch commented on #19
If you initiate the javascript script inside your body tag it'll work

[2018-12-23 21:30] mcstudios commented on #28
Unable to replicate the error, please share a url to a live example also please post which mobile browser are you using, ios or android, etc.

[2018-12-23 22:44] mcstudios commented on #35
Can you provide some examples of how would you think the api should work to achieve what you want? i currently don't have time to invest on something like this but if you help me to define how the api should work we could solve this faster.

[2019-01-10 01:38] userofit123 opened #43 "popup has margins on right side and bottom"
Basically, there is a margin on the right side and the bottom of the image in the popup..
Any ideas on this?

Im using  this script with instafeed script to get instagram images

[2019-01-10 01:51] userofit123 commented on #12
I am having this same issue and have tried this fix, but it is not working for me.

I am trying to load an image, but it is loading it in an iframe.
Any ideas on how to fix this?

[2019-01-11 17:58] mcstudios commented on #43
@userofit123 could you please share the url you are using?

[2019-01-14 12:41] nickdekruijk opened #44 "Lightbox won't fit screen with description"
See this example: https://peterblokland.nl/gallery and click the first image. The description won't fit the screen because the image is too large. Your own demo site has this issue too, make your browser window smaller and open the image with the man with the hat which has a bottom description. With description left or right it works fine.

Edit: Since my example was a live site I disabled descrip

[2019-01-15 11:53] bramus commented on #19
I know. But I'm not including it in the body, I'm looking to import it as a module instead ("Modern JavaScript")

By the looks of it the culprit _(amongst other things)_ is that the code refers to `document.body` _(cached in a local `body` variable)_ instead of `window.document.body`. Didn't dig any deeper into it though, as I eventually moved to another lightbox-like implementation.

[2019-01-28 09:02] alinnert commented on #10
I also vote for this feature. I think it's super useful on mobile devices. There, I'd prefer a pinch zoom gesture if that's possible. [PhotoSwipe](https://photoswipe.com/), as a reference, does this really well. (I was just looking für an alternative, that's easier to use.)

[2019-02-04 23:21] mcstudios commented on #44
Hi @nickdekruijk i've added some fixes and this should be working now, could you please try it and let me know?

*Still not published in the releases page just download the code instead.

[2019-02-04 23:24] #28 closed, assigned to nobody

[2019-02-05 21:15] connor-wilson-dev opened #45 "Maximum call stack size exceeded"
So I love this library, first off.
It was working fine through out the website I'm building but now, out of nowhere, it's saying that the maximum call stack size is being exceeded.

Step 1
open lightbox with images and videos.
Step 2
Move to video
Step 3
Video won't load
Step 4
Move to slide before video and back again, video loads fine.

I have another gallery on the page that has videos on it to

[2019-02-07 03:00] mcstudios commented on #45
Hi @connor-wilson-dev i'm glad you like this library. We made some changes so autoplay works correctly when changing slides, please download the code again and try it.

I'm not able to replicate the Maximum call stack size exceeded error, do you have a working example?

[2019-02-07 13:12] connor-wilson-dev commented on #45
I will see if I can spin up a jsFiddle or something. I'm not even sure where the issue is, I just got into work, so I should be able to do it around lunch time

[2019-02-11 21:28] connor-wilson-dev commented on #45
sorry for the late response, deadlines, am i right?

anyways here's the codepen

https://codepen.io/webinternconnor/pen/RvyyEr

I tried to create it as simple and basic as possible.
Basically, the gallery is a simple gallery, it shows x amount of images to potential customers, and then hides y amount of images to be seen if the light gallery is opened

hopefully this helps

[2019-02-12 07:46] mcstudios commented on #45
Hi @connor-wilson-dev

Thanks for the example but the demo it's using an older version, like i said in my previous comment, the video problem should be fixed in the latest update v2.0.0 (still not published as a release so just download the code) please download it again, try it and let me know if it's working fine.

About the error "Maximum call stack size exceeded", if we're not able to replicat

[2019-02-12 13:44] connor-wilson-dev commented on #45
I totally missed that when I first read it, I'll change that out.

I figured without a stacktrace it would be hard to solve, but thanks for helping out anyways!

[2019-02-13 03:46] mcstudios commented on #45
No problem, if you have time you are welcome to submit a pr, for now i don't have time to investigate that error, i'm closing this for now, feel free to open any new issues if you find a problem with this library.

[2019-02-13 03:46] #45 closed

[2019-02-13 10:55] OneX opened #46 "Autoplay is not working (Youtube, Vimeo)"
I am invoking plugin with this code.

var lightboxDescription = GLightbox({
  selector: 'fancybox-media',
  autoplayVideos: true
});

Tested in chrome. https://developers.google.com/web/updates/2017/09/autoplay-policy-changes

[2019-02-13 11:05] mcstudios commented on #46
Hi @OneX

Not able the reproduce the error, can you see the same error on the demo site? i understand the new policy change but not sure how it affects youtube and vimeo as GLightbox uses the api provided by those services.

[2019-02-13 14:48] OneX commented on #46
Hi @mcstudios, so all modern browsers now block autoplay options, except firefox.

https://help.vimeo.com/hc/en-us/articles/115004485728-Autoplaying-and-looping-embedded-videos.

[2019-02-14 03:19] mcstudios commented on #46
Hi @OneX i was fully aware of those new restrictions, what i did not know was how youtube and vimeo will handle that (GLightbox uses only their code) i thought that the api could provide a way to workaround this but in the link you provided i can read "**There is no way to stop these autoplay restrictions**"

As a workaround they mention that you can mute the video, i'm not going to do this but yo

[2019-02-14 10:13] OneX commented on #46
@mcstudios i will try to use muted option and get back with my findings.

[2019-02-16 14:12] d3pendent commented on #19
I get the same error in Chrome v72
I just include the js file and call it like this.
[code]
redefining the `body` variable in the method open() is a quick workaround.

[code]

[2019-02-16 14:58] mcstudios commented on #19
hi @d3pendent thank's for taking a look at this, i'll update the code asap to remove the body variable as it's only used twice so there's no point. i'll let you know when the update is published.

[2019-02-17 07:20] mcstudios commented on #19
This issue has been fixed in the latest version v2.0.0, i'm closing this for now, feel free to open any new issues if you find a bug.

[2019-02-17 07:20] #19 closed

[2019-02-17 07:21] mcstudios commented on #44
I'm closing this for now as i never heard of you, feel free to open any new issues if you find a bug.

[2019-02-17 07:21] #44 closed

[2019-02-19 09:26] mcstudios commented on #46
i'm closing this for now as it's not a problem with GLightbox, as soon as i have some free time i'll dig more on to this new browser restrictions.

[2019-02-19 09:26] #46 closed

[2019-02-20 14:13] nickdekruijk opened #47 "iframe not centered"
**Describe the bug**
iframe not centered but left aligned in a 100% width white window in 2.0 version. Used to work fine in older versions

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mcstudios.github.io/glightbox/ section IFRAMES AND INLINE ELEMENTS
2. Click on the middle image (grass) that opens the google maps if

[2019-02-26 09:36] VictorPainter opened #48 "Tag <a> doesn't display on description section"
Hello! It's an actually cool plugin. But today I see some problem. When I try tag <a> at the description section it doesn't display. Moreover, the tag <p> with description doesn't display too. Please help me to fix this issue.

[2019-02-26 20:24] mcstudios commented on #48
Hi @VictorPainter are you adding the a tag inside the data attribute? (data-description)?

[2019-02-27 08:12] VictorPainter commented on #48
Hi! Here is my code.
`
<a href="<?php echo $url; ?>" class="glightbox2 button-prt" data-glightbox="title: <?php the_title(); ?>; descPosition: right;">View Details
            <div class="glightbox-desc">
                  <?php the_content(); ?>

                  <a href="#">Visit Project</a>
            </div>
</a>`

[2019-03-01 05:40] VictorPainter commented on #48
Hello! Can anybody help me to solve this problem? I'll never know why the link is cut from the description. I can use any tag there except <a>.

[2019-03-01 08:23] stianl opened #49 "Uncaught ReferenceError: body is not defined"
The removal of the body variable in b9daaf329f05cdc3e334251e034e814be4951d0b might be causing some issues with touch navigation? I get this error when I attempt to swipe in Chrome device emulation:

[code]

Setting var `body = document.body` in the `touchNavigation()` function solves the problem.

[2019-03-20 08:05] TeachMeHowToUse2FA commented on #49
Navigation on a mobile device does not work at all. Even on demo site. Is there any way we can solve this problem?

[2019-03-24 13:13] fnicastri commented on #49
any update on this issue?

[2019-03-28 20:52] designast commented on #49
1. Download unminify glightbox.js
2. Open and find function `function touchNavigation()`
3. Add inside this function code `var body = document.body;`
4. After last Chrome update need to fix scroll and touchmove event which use `event.preventdefault(); `
4.1 In function  `function touchNavigation()` find:
[code]
And change event to this(we add the last parameter - `useCapture: { passive: false }` )

[2019-04-07 18:15] Lasergunspewpew opened #50 "Touch not working on ios"
**Describe the bug**
No swipe (touch) functionality to switch between pictures.
Tested on Iphone X, XS, Ipad Pro 2018.

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
1. Open demo page
2. Open picture
3. Try to swipe to get to the next / previous picture

**Expected behavior**
Swiping left/right would load the previous or next picture

[2019-04-07 18:16] mcstudios commented on #50
I'm working on an update, it will be ready tomorrow.

[2019-04-07 20:14] Lasergunspewpew commented on #50
Awesome! Thanks for the quick reply and your work!

[2019-04-08 08:57] dios-oleg opened #51 "Demo: Open block does not scroll."
**Describe the bug**
Demo "Images with Description".
Open block does not scroll.

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mcstudios.github.io/glightbox/#examples Images with Description
2. Click on First image

**Expected behavior**
Scroll open block with offset image and text.

**Screenshots**
https://yadi.sk/i

[2019-04-13 15:29] Lasergunspewpew commented on #50
Any updates?
Can i offer some help?

[2019-04-15 11:36] billmn commented on #50
Same issue for me ... 😢

[2019-04-16 18:14] connorwilsonexceleron commented on #50
I to am having an issue, but I'm glad to hear someone is working on it!

[2019-04-19 19:17] connorwilsonexceleron commented on #50
I don't know if this will help, when inspecting the page with chrome devtools in phone (iPhone X specifically) the console pushes an error `Body is not defined`

If I try to 'swipe' the image, it will show that error every tick for as much as the mouse is down and moving over the image.

[2019-04-28 05:30] mcstudios commented on #49
This issue has been fixed in the latest version 2.0.1, please download again and try it.

[2019-04-28 05:30] #49 closed

[2019-04-28 05:30] mcstudios commented on #50
This issue has been fixed in the latest version 2.0.1, please download again and try it.

[2019-04-28 05:30] #50 closed

[2019-04-28 05:30] mcstudios commented on #47
This issue has been fixed in the latest version 2.0.1, please download again and try it.

[2019-04-28 05:30] #47 closed

[2019-04-29 13:25] stianl commented on #49
Works fine with 2.0.1! :+1:

[2019-05-07 04:24] jacecotton opened #52 "Tabbing index accessibility issue"
**Describe the bug**
Keyboard tabbing is lost and nearly impossible to make out when the lightbox is opened.

**Are you able to reproduce the bug in the demo site**
Yes.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on an image to open the lightbox.
2. Attempt to tab through the page.
3. Observe that you can't see the current tabbed item and it takes forever to tab to the close butto

[2019-07-03 04:27] mediabeastnz opened #54 "[FR] ability to set rel="" to have seperate galleries on one page"
It would be awesome to have the ability to some how group a bunch of gallery items together so you can have multiple galleries on one page.

Similar to how fancybox does (use to do?) it e.g. rel="my-gallery-1".

[2019-07-03 06:37] biati-digital commented on #54
Hi, you can already do this using a data attribute, example: data-gallery="gallery-1"

[2019-07-03 21:02] mediabeastnz commented on #54
Ahh perfect, thanks!

[2019-07-03 21:02] #54 closed

[2019-07-18 13:55] connorwilsonexceleron opened #55 "Self Hosted Videos do not load"
**Describe the bug**
I am trying to load a video that we are hosting ourselves,but when I click on the button to pull up the lightbox nothing loads. I double checked that everything else was loading properly (the source on the video is correct, the styles seem accurate...)

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to video

[2019-08-21 01:57] lirfaum commented on #8
Something goes wrong again...
Error:
`webpack-internal:///../node_modules/glightbox/dist/js/glightbox.min.js:4 Uncaught TypeError: Cannot read property 'classList' of undefined
    at b (webpack-internal:///../node_modules/glightbox/dist/js/glightbox.min.js:4)
    at m (webpack-internal:///../node_modules/glightbox/dist/js/glightbox.min.js:4)
    at e.value (webpack-internal:///../node_modules/gli

[2019-08-21 10:06] rikjacobs1390 opened #56 "Embed youtube video's from 'www.youtube-nocookie.com'"
A client of mine requires youtube embeds to be requested from 'www.youtube-nocookie.com/......' instead of 'www.youtube.com/.......'.

With the current options it's not possible to do this. I can't find a way (in the youtube dev docs) to do this by adding a parameter. It looks to me like this is not possible.
Can this possibly be included in the options?

**Maybe something like this**:

`const you

[2019-08-23 03:45] biati-digital commented on #56
Sure, i think the nocookie should be the default, i'll implement this change and let you know when the update is ready to download.

[2019-08-23 10:55] rikjacobs1390 commented on #56
Nice! Thanks for the quick response!

[2019-08-25 23:25] biati-digital commented on #55
Hi, sorry for the delay, i'm making some changes and already fixed the local video problem but it seems that JW Player has new limitations, i get this message in console when i try to autoplay the video.

**The API method jwplayer().play() is disabled in the free edition of JW Player.**

Not sure if i should keep this player or simply remove it and use another alternative or maybe leave it to the

[2019-08-25 23:34] biati-digital commented on #55
Nevermind, JW Player needs to go, i'll implement another player.

[2019-08-26 12:28] connorwilsonexceleron commented on #55
haha, that's good to hear, we ended up just uploading it to youtube. I don't know if this is exactly what you're looking for, but I've had a lot of luck with [plyr](https://plyr.io/) in the past.

[2019-08-26 12:51] connorwilsonexceleron commented on #56
Is this maybe a good opportunity to get some outside help? I'd be more than happy to take a swing at it

[2019-08-27 16:24] RastaTux opened #57 "Implement oembed for yt, vimeo etc."
Hey biati-digital!
How hard would it be to implement a functionality to embed youtube and vimeo videos by oembed?

Greetings,
Rastatux

[2019-08-28 22:17] carstengrimm opened #58 "2.0.2 html description"
after updating to 2.0.2 it does not seem that html description work.

on previous versions as well as the previous docs it was stated that html inside descriptions are working, however without doing changes to my glightbox  but just updating broke it.

[2019-08-28 22:26] biati-digital commented on #58
That's weird, i didn't change the descriptions in the demo site or in the code, they work correctly in the demo.

Can you share how are you adding the descriptions?

[2019-08-28 23:54] carstengrimm commented on #58
The html output is:

[code]

[2019-08-29 01:03] biati-digital commented on #58
Is that the final output?

Just a few things, if you are planning to add the link in the data attribute your html has to be encoded, the code you posted is not valid html, changing the double quotes to single is not enough.

Example of html link encoded.

`
data-glightbox="title:Description Bottom; description: You can set the position of the description &lt;a href=&quot;http://google.com&quot;&gt

[2019-08-29 01:05] biati-digital commented on #51
Hi, thank you for letting me know about this error, i'll take a look.

[2019-08-29 10:37] carstengrimm commented on #58
woops, sorry i posted the wrong code here...

in my final code it was even using the glightbox-desc class..

[code]

[2019-08-30 12:10] carstengrimm opened #59 "2.0.2 scale portrait images bigger than viewport"
after upgrading to 2.0.2. my portrait oriented images are cut off from the viewport if the text size is on 100%. As shown in the image below it (problably) just scales the width to be 100% but ignores the fact that the height is too big for the viewport.

![image](https://user-images.githubusercontent.com/5014509/64019526-aabe2400-cb2f-11e9-854d-39ea2fab6885.png)

this seems to be happening when s

[2019-08-31 17:02] carstengrimm opened #60 "2.0.2 does not load type video - youtube"
tried embedding youtube (non cookie as well as normal) with the newest update and it seems like it's not going any further then the loading screen. it's appending the plyr class and whatsoever, however it seems like all those html ways of doing things do not seem to work for me...

[code]

[2019-09-02 01:27] biati-digital commented on #60
Hi, thanks for letting me know.

That error is not a problem with the update itself, GLightbox was not able to detect a youtube video with a URL like www.youtube-nocookie.com/embed/.... and it was inserted as an iframe.

Fixed in the latest version.

[2019-09-02 01:29] biati-digital commented on #14
Hi, please download the latest version, now videos are resized correctly when the screen height is lower than the video height.

[2019-09-02 01:29] biati-digital commented on #59
Hi, please download the latest version, now images with description are resized correctly when the screen height is lower than the slide height.

[2019-09-02 01:31] biati-digital commented on #58
Hi, please download the latest version, make sure the div with the description is outside your a tag, checkout the readme or the index.html for more information.

[2019-09-02 01:32] biati-digital commented on #51
Hi, please download the latest version, now slides are resized correctly when the screen height is lower than the slide height.

[2019-09-02 01:33] biati-digital commented on #48
Hi, please download the latest version, make sure the div with the description is outside your a tag, checkout the readme or the index.html for more information. if you have any other problem feel free to open a new issue.

[2019-09-02 01:33] #48 closed

[2019-09-02 01:34] biati-digital commented on #37
All icons are now SVG :)

[2019-09-02 01:34] #37 closed

[2019-09-02 01:34] biati-digital commented on #18
Hi, please download the latest version, make sure the div with the description is outside your a tag, checkout the readme or the index.html for more information.

[2019-09-02 01:34] #18 closed

[2019-09-02 01:35] biati-digital commented on #10
In the latest version 2.0.3 now you are able to zoom and drag images on mobile and desktop.

[2019-09-02 01:35] #10 closed

[2019-09-02 01:38] biati-digital commented on #33
Hi, please check the readme file, width and height are properties that only affect inline content and iframes, images will not be limited by those sizes, make sure to use the latest version.

[2019-09-02 01:38] #33 closed

[2019-09-02 10:18] carstengrimm commented on #60
now it's working. thanks

[2019-09-02 10:18] #60 closed

[2019-09-02 19:13] dios-oleg opened #61 "Zoomable images: Image is out of frame."
**Describe the bug**
A clear and concise description of what the bug is.

**Are you able to reproduce the bug in the demo site**
Yes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any image, zoom it, drag and drop the image to right or left.
2. Click mouse button.

**Expected behavior**
The image is framed.

**Screenshots**
https://yadi.sk/i/_MRarpwkcAOCaA

**Desktop:**
 - OS: Ubuntu

[2019-09-02 21:57] biati-digital commented on #61
That's what happen when you publish something in a hurry. I'm not gonna be able to take a look at this for some time as i have other paid projects that need my attention.

If you have some time and interest you are welcome to take a look and send a pull request.

[2019-09-03 11:33] poldixd opened #62 "descPosition not working as javascript option"
**Describe the bug**
I've created a button in Vue.JS. If the use clicks on the button, images where load via xhr and the glightbox open the images. When I set `descPosition` to any value, the position is always bottom.

Mybe this bug is related to #32.

Here is a simple demo with plain javascript and no xhr:
[code]
Here is a screenshot of the DOM:
![image](https://user-images.githubusercontent.com

[2019-09-05 21:25] #14 closed

[2019-09-05 21:53] biati-digital commented on #62
Thank you for the jsfiddle, already pushed a fix for this error, please download again and let me know if it's working correctly for you.

[2019-09-06 02:41] biati-digital commented on #61
Pushed a fix for this error, please try it and let me know if everything works correctly.

[2019-09-06 02:57] #51 closed

[2019-09-06 06:11] dios-oleg commented on #61
Without changes.

https://yadi.sk/i/YCjDCPaDXTvgyg

[2019-09-06 06:55] biati-digital commented on #61
Hi, can I ask how did you update GLightbox? I've not published the changes on npm or a release, you need to manually download the code from GitHub.

[2019-09-06 08:01] dios-oleg commented on #61
I tried on your website. Also, I just downloaded the archive and tried it on my computer. Without changes.

[2019-09-06 11:17] arning opened #63 "Local video in fullscreen does not scale to screen size"
**Describe the bug**
When using a local video file with plyr.js, after clicking the fullscreen button the video does not scale to fullscreen, while the viewer is in fullscreen.

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to demo site -> Videos Gallery
2. Click on 3rd picture
3. In the viewern click the fullscreen button
4. Se

[2019-09-06 23:26] biati-digital commented on #63
Pushed a fix for this.

[2019-09-07 03:43] biati-digital commented on #61
Ohhh, i see what you mean, that will take some time, i'm really busy right now and i'm not gonna be able to take a look at this for some time. Thank's for the video :)

[2019-09-07 23:10] #58 closed

[2019-09-07 23:10] #59 closed

[2019-09-08 10:56] arning commented on #63
Great! Thanx

[2019-09-08 10:56] #63 closed

[2019-09-10 05:07] #62 closed

[2019-09-10 07:51] poldixd commented on #62
Hey @biati-digital I'm sorry for the late answer. I forgot this issue. Now everything works! Thanks.

[2019-09-13 09:33] gitrequests opened #64 "If no data-gallery attribute added, maybe don`t add slide to gallery?"
Or add some option to disable auto gallery create. Many images on a page is not always the gallery.

[2019-09-13 20:33] biati-digital commented on #64
Hi @gitrequests this is not something i'm planning to do because of several reasons.

The idea of data-gallery attribute is to create multiple galleries using the same GLightbox instance, if attibute gallery is not added the GLightbox will use the elements with the same class.

It's easier to use the API to achieve what you want instead of modifying the code and add more options, etc.

[code]

Thi

[2019-09-18 20:43] #64 closed

[2019-09-19 18:14] inglesuniversal opened #65 "Awesome script!"
Can it be possible for the iframe to expand 100% w and 100% h for html5 videos as well as youtube videos? So that videos cover the entire screen (web and mobile) and on (portrait or landscape mode)

Thanks

[2019-09-24 03:41] biati-digital commented on #65
I'm glad you like the script :) about your question, yes it's possible but it will require some changes to the code,  as soon as I've some free time I'll take a look to implement this.

[2019-09-24 13:03] oozrafa opened #66 "RTL Support"
Would it be possible to add right-to-left support so that when using the gallery the image will slide in from the left, and the current image will slide out to the right?
It's basically just switching around when the gslideInLeft, gslideInRight, gslideOutLeft and gslideOutRight classes are toggled.

This is the basic idea:
[code]
Not sure if this is the only place in the JS, but the touch events a

[2019-09-24 13:06] oozrafa opened #67 "scroll/vertical drag to close"
Would it be possible to add the feature that either when scrolling up\down using the mouse wheel or draging up/down (the whole screen, not just the image) on a mobile device will cause the lightbox to close? Similar functionality can be found on Medium's website.

Also, on mobile, is it possible to lock the drag axis to x and/or y without allowing diagonal dragging as it is not very comfortable to

[2019-09-24 16:59] oozrafa opened #68 "Back to close"
Any possibility to add functionality to use the back button (more important for mobile) to close the lightbox?

[2019-09-25 04:23] oozrafa opened #69 "Gallery item counter"
Is it possible, when there is more than 1 item in a gallery, to add a counter in the top-left corner showing the number total of slides, and the index of the current slide?
eg:
1/4
2/4
3/4
4/4
etc...

Thanks!

[2019-09-26 11:36] carstengrimm opened #70 "option to disable zoom?"
couldn't find any information about that in the documentation.
do we have a parameter to disable zoom when clicking on an loaded image?

[2019-09-26 11:55] biati-digital commented on #70
mmm... not yet, do you mean only for desktop? any specific reason to do this?

[2019-09-26 11:59] biati-digital commented on #67
I'm glad you like the script. Can you point me to an example on Medium?

There's no option to lock the drag axis for mobile, I'll consider it for the next update.

[2019-09-26 12:15] biati-digital commented on #66
You can adjust the effects using the options. Try the following:

[code]

[2019-09-26 21:43] mediabeastnz opened #71 "SVG icons issue - not appearing"
**Describe the bug**
SVG icons not appearing, seem to have no dimensions.

**Are you able to reproduce the bug in the demo site**
No.

**To Reproduce**
Steps to reproduce the behavior:
Install 2.0.4, import styles.

**Browser:**
Firefox 70

[2019-09-28 09:13] biati-digital commented on #68
Sorry, this is not planned and probably never implemented, on desktop there's already the esc key and the close button on mobile you can swipe up/down or use the close button, if this is something you need for your project you can easily use the api to achieve what you want.

[2019-09-28 09:13] #68 closed

[2019-09-30 15:17] frankie-tech opened #72 "Videos will not load on first open"
**Describe bug**
When a video slide is opened, the video does not load citing “cannot read property ‘split’ of undefined.”

When navigating away from initial slide or opening a different slide and navigating to the video slide, the video loads normally.

Investigating, this was related to a setting in the plyr config for the ratio, I added the ratio “16:9”, but had the same issue.

**Are you able

[2019-09-30 18:39] biati-digital commented on #72
I see the following error.

 undefined is not an object 'this.settings.plyr.ratio.split ...

Your error is for the ratio setting, you are either not adding it correctly or it does not exist at all, please check the source code to see how the setting should be added.

[2019-10-01 12:39] frankie-tech commented on #72
Yep, that was it. Misread the docs on plyr github. Thanks for helping out!

[2019-10-01 12:39] #72 closed

[2019-10-01 17:31] frankie-tech commented on #69
It's not a perfect solution and it can for sure be improved upon, but I came up with this: [codepen](https://codepen.io/azoicx/pen/zYOVgoj?editors=0110).
I'm sure there is a way to do it without a MutationObserver, but I wasn't able to get the glightbox events to work. I'm sure that was user error though. Lemme know what you think! :)

[2019-10-01 21:20] biati-digital commented on #69
Hi @frankie-tech thank you for your solution, I did it for a project recently and this was my solution.

[code]

No need for MutationObserver, your events are not working because you are adding two parameters when initiating Glightbox.

Your code (wrong)

[code]

Only pass the configuration, checkout the readme if you have questions.
[code]

[2019-10-02 00:46] frankie-tech commented on #69
haha, I knew it was some dumb mistake like that. I didn't know all of those other options were available, either.

I'll just add my new answer in case anyone wants to see :) [codepen](https://codepen.io/azoicx/pen/zYOVgoj)

tldr:
[code]

[code]

[2019-10-02 01:08] biati-digital commented on #69
Awesome, I'm gonna close this for now, I'm not sure this will be added to Glightbox (at least for now), as much as I would like the library to be a complete solution I do not have the time to add many functionalities and also many of the feature request can be achieved with the API and a few lines of code as @frankie-tech just showed us.

In the future I'll try to make some time to improve this li

[2019-10-02 01:08] #69 closed

[2019-10-02 10:14] bor-attila commented on #70
It's useful when ppl uses this script on individual images like in a restaurant's menu. I don't need the gallery function. User opens an image then he closes. With _afterSlideChange_ I solved closing the lightbox, but would be nice maybe a _onSlideClick_ event with 'zoom', 'close', 'none' or maybe a custom function options

[2019-10-02 14:25] carstengrimm commented on #70
@biati-digital
it's quite a difficult answer why we would need this...

if a viewer wants to check the source file and zoom in he could always call the jpg image url directly (open in new tab or whatever) so i wouldn't say the reason would be to deny accessing closer inspection of an image...

well let's say we have an image where zooming in is kinda a disadvantage (sloppy editing, retouching what

[2019-10-03 02:53] biati-digital commented on #70
Hi @carstengrimm not trying to be rude or anything but for me it sounds like **"not sure why we need this but we need this"**  the examples you mention seems like you are throwing ideas to give some validation to this feature request.

Not gonna implemente this (at least for now) and wait to see what other people think about this request.

In the meantime you can disable the Zoom with CSS:

[code]

[2019-10-03 13:54] biati-digital commented on #71
Can you provide a live example?

[2019-10-03 22:39] biati-digital commented on #66
Closing this for now, if you have any questions feel free to open new issues.

[2019-10-03 22:39] #66 closed

[2019-10-07 01:55] AbrahamBrookes opened #73 "Lightbox assuming images loaded from filestack are videos"
When loading images from filestack the URL ends in a randomly generated string. The slider code reads this string and assumes a video format for the image slide in the popup, causing the image to be displayed in an iframe and shown with scrollbars.

[2019-10-07 01:59] AbrahamBrookes commented on #73
fixed by adding `data-type="image"` to all my image links, thanks great script!

[2019-10-07 01:59] #73 closed

[2019-10-08 03:23] #70 closed

[2019-10-08 03:25] biati-digital commented on #71
if you're still interested on this issue feel free to comment :)

[2019-10-08 03:25] #71 closed

[2019-10-15 02:40] biati-digital commented on #67
Closing this one because never received a response, feel free to open new issues if you have any questions.

[2019-10-15 02:40] #67 closed

[2019-10-15 21:47] carmoreira opened #74 "[Question] How to programatically open inline content or iframe?"
More of a question than a bug report.
How do I programatically open the lightbox with inline content or an iframe?
I have tried the following syntax without success:
`const myGallery = GLightbox({
    elements: [
        {
            'href': 'https://mywebsite',
            'type': 'iframe'
        },
        {
            'href': '#mycontent',
            'type': 'inline',
        }
    ],
    a

[2019-10-15 22:11] carmoreira commented on #74
Iframe worked with type set to 'external' and specifying width/height.
Thank you.

[2019-10-15 22:11] #74 closed

[2019-10-16 07:17] kieusonlam opened #75 "Prevent to open lightbox when user is dragging element with `-webkit-user-drag: none;`"
**Please describe the feature you want to be implemented.**

I don't think this is a bug so I create a Feature Request. As what title said, prevent to open lightbox when user drag the `a` that set `-webkit-user-drag: none;`

**Explain why the feature is useful**

I have a drag scroll vericle gallery with glightbox implemented. The `a` tag have been set `-webkit-user-drag` to `none`. User explore t

[2019-10-16 13:41] nickoboy opened #76 "How can I insert inline data from AJAX response?"
Thank you for good lightbox!

I have a few questions:
1. How can I insert data from AJAX response?
2. How can I set width/height to image type content?

[2019-10-26 14:20] chanlito opened #77 "Unable to load `.mov`"
This awesome lib should support it. 👍

I tested with `.mp4` and it works, but not `.mov`.

[2019-11-04 10:09] DevelGitH opened #78 "Loop should work in both directions"
**Please describe the feature you want to be implemented.**
Currently there's only an option to loop from the end to the beginning but not in the reverse direction (navigation is disabled).
My suggestion would be to rename the option 'loopAtEnd' to 'loop', because I think in the most of cases an infinite gallery in both directions is necessary.

[2019-11-04 10:13] DevelGitH opened #79 "ios/android - loop option isn't working on touch event"
It isn't possible to loop the gallery when the swipe event will be used.

**To Reproduce**
1. Enable the option 'loopAtEnd'
2. Open the gallery on a mobile device
3. Swipe to the last image
4. Gallery don't go to the first image

[2019-11-04 16:15] biati-digital commented on #78
Makes sense, I'll work on this as soon as I have some free time.

[2019-11-05 15:04] DevelGitH commented on #78
Perfekt thanks :) By the way a good plugin that you have made. One of the best one that I have found that is written in plain javascript :)

[2019-11-10 16:32] o-eborn opened #80 "Width and height settings doesn't work on iframe"
Hi! I think your script looks really great. It clean and smooth and seem simple to use.

However, i need to be able to use it with an iframe and i just cannot get the height value to work.

**Describe the bug**
The hieght and width values are not working properly.

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://develop

[2019-11-11 15:12] jeanmeyer7 opened #81 "Video Question: Linking Plyr locally in glightbox"
glightbox is a awesome project. Thanks to all!

The demo included in the master works well with linking to the CDN of Plyr (plyr: js and css). Plyr is also configured to fetch plyr.svg from the CDN.

I would like to host Plyr locally. How do I include plyr.js, plyr.css, plyr.svg locally? And SVG?
Shall I put the information in the header section of my html document in
<link rel="stylesheet" href="

[2019-11-17 13:00] srikat opened #82 "moreLength: 0 not working inside data-glightbox"
This doesn't seem to be working:

[code]

When `moreLength: 0` is added, the right position class is not added in the HTML and moreText continues to appear in mobile.

[2019-11-17 20:32] biati-digital commented on #82
moreLength is a **global option**, please take a look at the [Slide options](https://github.com/biati-digital/glightbox#slide-options) section to check the available options for individual slides.

[2019-11-17 20:48] srikat commented on #82
Thank you.

[2019-11-17 20:48] #82 closed

[2019-11-17 21:19] biati-digital commented on #81
Hi @jeanmeyer7 your config should look like this:

[code]

Here you can see the options of Plyr. [view options](https://github.com/sampotts/plyr/blob/master/dist/plyr.js#L3607)

[2019-11-17 21:24] biati-digital commented on #80
Width and height should be passed as data-glightbox="**width: 900; height: 700;**" remove the px

[2019-11-17 21:45] biati-digital commented on #77
Thank you, the error has been fixed in the latest version 2.0.5, I'll publish the update tomorrow.

[2019-11-17 21:45] #77 closed

[2019-11-17 22:52] biati-digital commented on #79
Hi @DevelGitH I'm aware of that but it still needs work, it can be enabled really easy but I don't like how the animation is handled (when going from the first to last or last to first), as soon as I have some free time I'll work on this to improve it.

[2019-11-18 04:10] biati-digital commented on #75
Hi, sorry for the late reply, I just did a quick test adding -webkit-user-drag: none; to the first a tag and dragged it and the Lightbox was not opened, I had to click it and it opened normally.

Can you please provide a working demo?

[2019-11-18 04:46] biati-digital commented on #78
Added option loop in the latest version 2.0.5 👍

[2019-11-18 05:56] inglesuniversal commented on #65
Hi, I see a new update on your script. Were you able to implement the 100% h & w iframe feature?

thanks

[2019-11-18 07:31] DevelGitH commented on #78
Awesome, thanks :) I'll check it later.

[2019-11-18 07:31] #78 closed

[2019-11-18 17:59] biati-digital commented on #65
Hi @inglesuniversal

I did some tests but still requires some work, [View screenshot](https://ibb.co/YbCcDSx) for what i can see videos are the type of slides that will require more work and tests as resizing cuts part of the videos. As soon as this is completely functional I'll let you know.

[2019-11-19 02:47] kieusonlam commented on #75
Thanks for reply @biati-digital , after dragging, keep your mouse stablize and then release the mouse, you will get a click event. I think it's happen quite offen drag scroll element. https://greensock.com/forums/topic/8907-draggable-click-triggered-on-drag/

Flexa got the same problem: https://www.flexaworld.com/en/product/80-31102-95/single-bed

It's not really an issue for this package, I'll cl

[2019-11-19 02:47] #75 closed

[2019-11-20 09:09] rikjacobs1390 commented on #56
Thanks @biati-digital ! We'll give it a try in the next upcoming project!

[2019-11-25 02:49] #81 closed

[2019-11-25 02:50] #80 closed

[2019-11-26 09:44] Nurpeyis opened #83 "npm conatins old 2.0.4 version, not 2.0.5"

[2019-11-27 00:55] biati-digital commented on #83
Fixed

[2019-11-27 00:55] #83 closed

[2019-12-11 02:22] notrealdev opened #84 "Display video quality setting"
Hi, thank you for awesome script.
How can i display quality setting on my video?
Thanks.
![Imgur](https://i.imgur.com/23xLR1f.jpg)

[2019-12-12 03:46] biati-digital commented on #84
Hi @notrealdev I'm glad you like the script.

You need to check the available options for the player and pass them to GLightbox:
Check the [Player options here](https://github.com/sampotts/plyr#options) If you have more specific questions about configuring the player or extending it, please open an issue in the Plyr repository.

[code]

[2019-12-12 03:48] notrealdev commented on #84
Thank you ♥️

[2019-12-12 03:48] #84 closed

[2020-01-07 11:20] didrip opened #85 "Lightbox for videos does not work on IE 11 due to Plyr.js missing polyfills"
**Describe the bug**

Lightbox does not work on IE 11 out of the box. polyfills are missing for some JS used by [plyr.js](https://github.com/sampotts/plyr)

Error shown is `Object doesn't support property or method 'find'`
If using a [polyfill](https://stackoverflow.com/questions/37788536/object-doesnt-support-property-or-method-find-in-ie) for `find` then other error comes up ex `Object doesn't s

[2020-01-07 11:33] didrip commented on #85
plyr is included via `https://cdn.plyr.io/3.5.6/plyr.js` in [glightbox.js](https://github.com/biati-digital/glightbox/blob/93a013ef356ca252f753b03a7d9edc3e6fa1fce8/dist/js/glightbox.js#L630) but the polyfilled version

I understand that it might better to manage polyfills externally but it should be written somewhere in the docs that we need to add them for IE support if using glightbox for videos

[2020-01-07 22:17] biati-digital commented on #85
Hi @didrip  I'll update the documentation to let users know about this 😃

[2020-01-21 11:56] bjarnef opened #86 "Show thumnails"
**Please describe the feature you want to be implemented.**
It would a be great to enable the options to show thumbnails in the overlay, e.g. a combination of images and videoes (e.g. via a json-array). In this case it would be great to add a specific class in image/video thumnails to be able to style these, e.g. a play icon on video thumnails.

**Explain why the feature is useful**
It enable the

[2020-02-03 14:39] TidyLuke opened #87 "Choosing opening position"
**Describe the bug**
During my set up I define the gallery elements using the `elements` array. Everything works perfectly until I want to select the element to open on. I don't always want the lightbox to open on the first element. There are other factors which determine which slide should be showing when the lightbox is opened. As this is a changing starting position I can't define this in the o

[2020-02-09 10:04] nghiepit commented on #8
The same issue. Sometimes, move pages fast around in React app
```TypeError: Cannot read property 'classList' of undefined```

[2020-02-11 11:19] fatihturan opened #88 "Tab Key Doesn't Work on Form Within GLightbox Inline Content Modals"
Hi,

I'm using the Glighbox feature for opening form modal with inline content feature but I can't use the Tab key to navigating on inputs.

[2020-02-13 13:42] nathanael3d opened #89 "Can't make it work"
Hey there

I've been looking for a script to replace Shadowbox, which does not play videos anymore.
Glightbox seems to be exactly what I need (on the demos) but I can't manage to make it work. I would like to display a lightbox gallery containing pictures and videos (local).

The documentation gives way too many examples, I cannot find what is relevant to my case. The few lines to use a gallery us

[2020-02-14 08:41] nathanael3d commented on #89
**This is in my page HEADER:**

`
<link href='https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css' rel='stylesheet'/>
<script src='https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js'/>

<script type="text/javascript">
const glightbox1 = GLightbox({
    touchNavigation: true,
    loop: true,
    autoplayVideos: true,
    onOpen: () => {
        console.log('Light

[2020-02-14 08:43] nathanael3d commented on #89
The page is here:
http://www.nathanael3d.com/p/gallery.html

[2020-02-14 21:07] biati-digital commented on #89
You need to specify the selector you are using, for example the code in your body has a class of **glightbox1** so you should specify that class when you initialize GLightbox:

[code]

I'll update the documentation to make this more clear.

[2020-02-14 22:00] nathanael3d commented on #89
Hey, thanks.

I see, but I'm not sure why it is still not working. I tried this:

**Header:**
`<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<script type="text/javascript">
const lightbox = GLightbox({
    selector:  'glightbox1',
    touchNavigation:

[2020-02-15 00:05] biati-digital commented on #89
Move this code to the footer

[code]

You are initializing the script when the [dom](https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Introduction)  is not ready so basically you tell the script to get all the elements with the class of "glightbox1" but they do not exist yet.

When executing scripts make sure to always do it in the footer otherwise you need an event listener

[2020-02-15 11:12] nathanael3d commented on #89
YES! You're amazing, it's working! I even found out how to add a title to the videos :)

Definitely update the documentation, as it is not clear where the different bits of code should go. I placed the instance declaration right after the </footer> as you said and it's working now:
http://www.nathanael3d.com/p/gallery.html

Now I have one small issues to make it perfect:
- How can I configure the

[2020-02-15 22:29] nathanael3d commented on #89
Little snag in your Slide Options example too:
You write **width: 900px;** to define the lightbox width, but I noticed that it's only working with **width: 900;** (no px).

[2020-02-19 17:52] osroca commented on #87
Same issue here. I'm using the same approach as @TidyLuke to move the slider to the desired image when the Glightbox opens. I've even tried setting a low timeout to call `goToSlide(x)` to delay a bit its call in case the animation calculation could be affecting, but I have the same issue.
I think it happens only when the images being loaded have not the same dimensions (width at least).

[2020-02-20 15:29] gozo1985 opened #90 "JS Error video lightbox - not working"
I'm using GLightbox for my gallery. Works fine.
Now I want to add this to my videos as well. Failed due to an error:
_glightbox.js:2465 Uncaught TypeError: Cannot read property 'split' of undefined_
References Line:
`var videoRatio = this.settings.plyr.ratio.split(':');`

HTML
`<a href="https://www.youtube.com/watch?v=5NV6Rdv1a3I" class="video__lightbox__link">lightbox link</a>`

JS
`  const light

[2020-02-20 16:27] biati-digital commented on #90
Hi

Add the ratio to your video, if you pass your own config to plyr it will use it and ignore the included config.

[code]

I'll make some updates to this part of the code.

[2020-02-20 17:19] Ariane-B opened #91 "Keyboard navigation doesn't work on mobile"
**Describe the bug**
None of the keyboard events trigger on anything that registers as a mobile device. No errors or anything.

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
Load site in your browser's inspector's mobile simulation mode (tested on Firefox and Chrome).
Open a popup.
Try to navigate with your keyboard

**Expected behavi

[2020-02-20 19:40] Ariane-B opened #92 "Open at different indexes depending on element clicked"
Hi!
This is a pretty standard use case, so I'm pretty sure this is very doable, but I haven't figured out the right way to do it yet.

I have a series of links and images defined as such:
[code]
So far it mostly works fine, with the following exception: no matter which link I click, the GLightbox starts at index 0 (the first image).

My JS works this way:

[code]

As you can see at `lightboxInstan

[2020-02-21 09:54] gozo1985 commented on #90
Thanks you for the fast response! It worked adding the ratio :)

[2020-02-26 10:24] Lefthandmedia opened #93 "Cant use data-attrib as selector"
**Please describe the feature you want to be implemented.**
I would like a data attribute to be used as a selector
EG. ```<a href="bigpic.jpg" data-glightbox><img src="..."></a>```

**Explain why the feature is useful**
Some CMSs put data attributs on Ahrefs instead of classes

**Have you seen it somewhere else?**
If so please provide live examples, images, videos, etc. anything that help us under

[2020-02-26 20:48] #90 closed

[2020-02-28 01:52] Alexufo opened #94 "One code to many buttons without sliders arrows"
I use one code  and several buttons to call one popup but then I click on some element I see sliders arrows. How i can disable sliders arrows?
[code]

[2020-03-02 11:48] TidyLuke commented on #87
Hello @biati-digital I'm just wondering if you're aware of any fixes to the issue mentioned above? Apart from this everything is great, so a big thank you is placed alongside this query!

[2020-03-02 17:11] biati-digital commented on #87
Hi, I currently have a lot of work so I'm not gonna be able to take a look at this until the end of April.

[2020-03-02 17:58] biati-digital commented on #92
Hi, I'm not sure what you are trying to do, currently we have a lot of work so we are not able to work on GLightbox until the end of April. GLightbox will open the clicked element correctly respecting their position, take a look at the demo. As I said, we have a lot of work so we do not have time to take a look at your code or provide any kind of help until the end of April.

[2020-03-02 19:18] Ariane-B commented on #92
Hi,

I appreciate the honesty. For now I'll switch to using a separate selector for every gallery's elements. I hope you'll have time to look into this issue later.

With the `selector` option, everything works just fine. The problem is that I'd like every gallery to use the same selector, `lightbox-gallery-el`, and not end up in the same gallery as everything else. To do that, I need to dynamical

[2020-03-03 13:26] TidyLuke commented on #87
Thank you for the response, the project this is being used on is due to go live soon. I'll try to hack a solution until you get the time.

As prior mentioned, thanks for the time you have spent with this project, it's been very helpful!

@osroca Did you manage to find a solution?

[2020-03-03 15:08] osroca commented on #87
No, I'm sorry, didn't find a solution for it.

[2020-03-03 19:29] BugFixNo1 opened #95 "page "jumps" depending on hiding scrollbars"
Hi folks, nice work but:

the page "jumps" depending on hiding scrollbars means when i click a pic to activate the script the scrollbars of the browser will be hidden by the script (or css?) this makes a streching behavior of the page when thhe script opens and closes.

**Are you able to reproduce the bug in the demo site**
Yes

**Expected behavior**
don't hide scrollbars to have a static behavior

[2020-03-04 11:15] TidyLuke commented on #87
@osroca  No worries, thought I'd check :)

[2020-03-14 22:26] lamplightdev commented on #92
To get the gallery to open to a specific item you can manually set the `startAt` option in the lightbox `settings`, before you open it. E.g. in a click handler:

[code]

[2020-03-14 22:27] lamplightdev commented on #87
To get the gallery to open to a specific item you can manually set the `startAt` option in the lightbox `settings`, before you open it. E.g. in a click handler:

[code]

[2020-03-16 13:15] TidyLuke commented on #87
Perfect, thank you @lamplightdev

[2020-03-16 13:16] #87 closed

[2020-03-16 15:40] Ariane-B commented on #92
I thought I tried that and it didn't work, but I'll give it another try soon. I'll be back with an update. Thank you!

[2020-03-18 14:58] iocron opened #96 "SyntaxError: expected expression, got '.'"
I just got the following error message in my console once I tried using the glightbox.css:
SyntaxError: expected expression, got '.'

I've never seen such a weird Bug / Charset Behavior. But I was able to fix this issue, once I renamed the file, it seems like there is some kind of special character in the filename itself.

**Describe the bug**
Displays SyntaxError: expected expression, got '.' in

[2020-03-18 15:02] #96 closed

[2020-03-24 23:05] ethereal94 opened #97 "YouTube video does not load!"
YouTube video does not load!
Can I fix it somehow? Thanks!

[2020-03-25 00:00] biati-digital commented on #97
They do load in the demo site, please check your code and read the docs

[2020-03-25 23:55] Alexufo opened #98 "Slide dublication"
If I have an inline content element and have a two buttons to call them I will see two slides instead one.

[2020-03-28 16:13] Alexufo commented on #98
solution:
for other elements we should use onclick="yourinstance.open()"

[2020-03-30 02:45] #97 closed

[2020-04-01 12:09] zothynine opened #99 "Scrolling Description triggers closing the lightbox on touch devices"
**Describe the bug**
When you touch-scroll a longer slide description it also triggers the "close on vertical swipe" feature.

**Are you able to reproduce the bug in the demo site**
No, but I have a screen recording.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a slide with a longer scrollable text on a smartphone.
2. Scroll the text by swiping it upwards.
3. See error

**Expected b

[2020-04-01 12:20] zothynine commented on #92
If you did a normal for loop over `lightboxEls` you could just do:
[code]

[2020-04-04 21:55] benface opened #100 "Image URLs with params are wrongly interpreted as videos"
**Describe the bug**
Clicking on the following gLightbox link (notice the `?hash` param) will open the image in an iframe, which seems to be the behavior for videos, and will let you scroll in the iframe to see the whole image instead of scaling the image to fit the viewport:
[code]

**Are you able to reproduce the bug in the demo site**
No, but that's because there are no such URLs on it.

**Expe

[2020-04-04 23:07] biati-digital commented on #100
Please take a look at this [https://github.com/biati-digital/glightbox/issues/73](https://github.com/biati-digital/glightbox/issues/73) and also read the documentation if you have doubts

[2020-04-04 23:07] #100 closed

[2020-04-14 12:37] adderpositive commented on #95
@BugFixNo1 maybe you cant just add `overflow-x: hidden;` instead of `overflow: hidden;` to `.glightbox-open`. It can partly fix this buggy behaviour.

[2020-04-16 07:42] fboumol opened #102 "Unable to play mp4 video with non standard URL (it is just automatically downloaded)"
First of all, let me thank you for this great piece of software. I am using the demo provided and it works wonderfully well.

I am having trouble (I have tried with mozilla-firefox and also with chromium) when I modify the very demo and I try to use:
[code]
The problem is that the file is downloaded instead of being played.

My conjecture is that the trouble comes from the fact that this non stand

[2020-04-16 23:16] SleepyNiko opened #103 "iOS bug with Vimeo iframe when fullscreen button pressed"
**Describe the bug**
When using an iOS device, and viewing a Vimeo iframe embed in glightbox, the video disappears leaving the overlay and close button. This does not happen on Android (at least in my tests so far).

**Are you able to reproduce the bug in the demo site**
Yes.

**To Reproduce**
Steps to reproduce the behaviour:
1. Click on video CTA/thumbnail to bring up glightbox window (below scr

[2020-04-17 01:40] biati-digital commented on #103
Do not own an IOS device so pull requests are welcome

[2020-04-19 21:12] kerns opened #104 "Support for dragging to next and previous on the Desktop"
**Please describe the feature you want to be implemented.**
Mouse support for clicking/dragging an image left/right to initiate previous/next image calls.

**Explain why the feature is useful**
A lot of people coming from Photoswipe expect this behavior. It feels natural and is easy to implement. I think it could be helpful on hybrid devices, tablets and laptops with touch enabled displays.

**Hav

[2020-04-19 21:18] kerns opened #105 "Prevent Image from Being Panned Beyond Outer Edge (and out of the viewport)"
**Describe the bug**
When zoomed on an image it seems possible to move/pan an image completely out of the viewport.

**Are you able to reproduce the bug in the demo site**
Yes.

**To Reproduce**
Open an image that can be zoomed and move it to the edge of the viewport and keep going.

**Expected behavior**
An image should stop moving when you've hit the bounding area of the image...in other words,

[2020-04-19 21:21] biati-digital commented on #104
Duplicate of #11

[2020-04-19 21:21] #104 closed

[2020-04-19 21:21] biati-digital commented on #105
Duplicate of #61

[2020-04-19 21:21] #105 closed

[2020-04-19 22:45] biati-digital commented on #102
Hi @fboumol glad you like GLightbox. For videos with that kind if url you just need to specify the type directly in your link adding data-type="video" please take a look at the docs if you need more help.

[2020-04-19 22:45] #102 closed

[2020-04-20 15:08] fboumol commented on #102
I have read the documentation and I am still thinking that things are not OK in the particular case of the link I said before (i.e., 'http://disco.uv.es/cgi-bin/in-public?fileman:es:imgdump:pub:/cloud/accesibleweb//testglightbox.mp4:feboumo:' ).

I am now using the following code (from your suggestion):
[code]
and I am having the very same feedback (i.e., the video is downloaded instead of playing

[2020-04-20 20:21] biati-digital commented on #102
The problem is not with GLightbox, it can be the server configured to force the download of certain files, etc. even if you enter with the url of the video directly in the browser the video will be downloaded instead of being displayed normally in the browser.

[2020-05-04 08:02] robinparadise opened #107 "When opening a base64 image it keeps loading forever and I can't close glightbox."
![WhatsApp Image 2020-05-04 at 9 50 50 AM](https://user-images.githubusercontent.com/2571925/80947240-fed08500-8def-11ea-8e8b-33f3fd3959d8.jpeg)
**Please describe the feature you want to be implemented.**
I think it is essential to open this type of images

[2020-05-04 18:14] biati-digital commented on #107
Can you explain why do you think it's essential to support base64 images? I don't see any advantage of using base64 images in a Lightbox when it's primarily used to display large images and the base64 code can be quite large. Is it only to avoid a request to the server? if you have other use cases please mention them.

[2020-05-07 12:41] martinbroos opened #108 "Overriding default plyr settings does not merge correctly"
**Describe the bug**
Overriding default plyr settings does not merge correctly

**Are you able to reproduce the bug in the demo site**
No

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
I only want to override some plyr settings but this way it will remove other plyr settings which will result in errors. Eg. that plyr lib will not be loaded because the url to it i

[2020-05-07 12:47] martinbroos opened #109 "Resolve source type when using setElements"
**Please describe the feature you want to be implemented.**
When using an href link to vimeo or youtube the source type does not need to be provided the library will resolve this itself.
When using setElements to create a dynamic gallery you must provide a type and source yourself. So now I need to duplicate some of the regexes to resolve this source type based on the video url. Is i possible that

[2020-05-07 13:02] martinbroos commented on #109
Ok weird now that i'm testing this it does seem to work without defining a source attribute. Both vimeo and youtube play as expected. Can you confirm this?
If so this would be great and this was a non issue :)

[2020-05-09 16:57] biati-digital commented on #108
I'm working on an update to fix this 😃

[2020-05-09 17:52] biati-digital commented on #109
The source attribute is **not** required, the library check the url before adding the video.

I'm working on an update so the **type** attribute can also be ignored and let the library do the same work it does for regular links.

[2020-05-09 18:29] biati-digital commented on #98
I don't think this is a bug, as you said, you can use the open method or also define a different data-gallery attribute to the buttons.

[2020-05-09 18:29] #98 closed

[2020-05-09 18:30] biati-digital commented on #94
Closed as duplicate of your other issue #98

[2020-05-09 18:30] #94 closed

[2020-05-09 18:38] biati-digital commented on #91
To be honest I don't think this is necessary, although activating the keyboard on mobile only takes deleting 1 line of code, I don't see the point.

[2020-05-09 18:38] #91 closed

[2020-05-09 18:50] #92 closed

[2020-05-09 19:31] biati-digital commented on #86
Not sure this will be added but I do like the way fancy box shows the thumbnails.

I'll leave this open to see if more people is interested in something like this.

[2020-05-10 00:07] biati-digital commented on #95
Should be fixed in the latest version 2.0.6

[2020-05-10 00:08] biati-digital commented on #93
In the latest version 2.0.6 you can use data attributes as selector for example:
 '.glightbox' or 'data-glightbox' or '*[data-glightbox]'

[2020-05-10 00:08] #93 closed

[2020-05-10 00:13] biati-digital commented on #88
This should be fixed in the latest version 2.0.6, please note that an input must be focused in order to work otherwise the tab key will focus the Lightbox prev, next and close button.

[2020-05-10 00:17] biati-digital commented on #65
In the latest version 2.0.6 you can set dimensions using any unit you want for example:

videosWidth: '100vw'
or
videosWidth: '100%'
etc.

The same for inline and iframes:

width: '90%',
height: '506px',

**Please note the selector was also updated to allow data attributes and more, so you need to update the selector in your code** More information in the readme.

[2020-05-10 00:17] biati-digital commented on #85
The readme was updated.

[2020-05-10 00:17] #85 closed

[2020-05-10 00:17] biati-digital commented on #76
There are some examples in the readme.

[2020-05-10 00:17] #76 closed

[2020-05-10 00:18] biati-digital commented on #108
Fixed in the latest version 2.0.6

[2020-05-10 00:18] #108 closed

[2020-05-10 00:18] biati-digital commented on #109
Closing this, please check the latest update 2.0.6

[2020-05-10 00:18] #109 closed

[2020-05-10 00:19] biati-digital commented on #103
This should be fixed in the latest version 2.0.6

[2020-05-10 00:19] biati-digital commented on #99
This should be fixed in the latest version 2.0.6

[2020-05-10 00:30] biati-digital commented on #89
The width and height params were updated in the latest version 2.0.6, please check the readme if you have doubts

[2020-05-10 06:06] mnoorenberghe opened #113 "setElements(…) + reload(…)/open()/openAt(…)/goToSlide(…) won't update a lightbox already showing"
Btw. thank you very much for this project. It seems to be one of the best vanilla JS lightbox libraries from my research.

**Describe the bug**
I would like to be able to be able to replace lightbox contents while one is already showing (e.g. using up/down keyboard shortcuts) without closing and re-opening (which is jarring).

The names/descriptions of `setElements` and `reload` make me think this

[2020-05-10 16:14] biati-digital commented on #113
Hi @mnoorenberghe That's because setElements was meant to work only for initialization so you could set all items (for example) after an Ajax call or after a custom script that generates the list, etc. It wasn't meant to work with an active/open instance and because of that any method you call after that won't work.

Can you give me an example of how it could be used with an active Lightbox instan

[2020-05-10 16:23] mnoorenberghe commented on #113
I tried to mention my use case buried in my comment: I want to use up and down arrow keys to jump between different sets of images. In my case I have a grid of images where each row has a old, new, and comparison image which I want to be able to navigate with left/right arrows (already working). To make it faster to review I would like up/down arrows to move to respective adjacent rows. Example: h

[2020-05-10 16:36] mnoorenberghe commented on #113
Btw. here are some of the workarounds I had to put in to get it to kinda work now:
* https://github.com/mnoorenberghe/mozscreenshots/blob/7b4875722f09b1080a221289ef6599f78ef97274/web/lightbox.js#L192-L197
  * Close without an animation then immediately re-open.
* https://github.com/mnoorenberghe/mozscreenshots/blob/7b4875722f09b1080a221289ef6599f78ef97274/web/lightbox.js#L305-L310
  * Since I have

[2020-05-10 20:50] biati-digital commented on #113
Hi @mnoorenberghe setElements will require some changes to work when the Lightbox is open, I'll  take a look as soon as I've some time to see if we can adjust this method.

By any chance did you try the insertSlide method?

[2020-05-10 21:19] mnoorenberghe commented on #113
I'm willing to write the patches if they are something you would consider.

No, because it didn't really align with what I need. I need to be able to also remove slides.

[2020-05-10 21:24] biati-digital commented on #113
Awesome, all pull requests are welcome if you have the time. 👍

[2020-05-11 01:43] Ariane-B commented on #91
In my opinion, when looking at this sort of thing, it's always better to ask yourself: "do I *need* to disable it?" rather than "what's the point of it?"

I just told you one case where this behavior is hostile to the user -- me, the developer -- as well as fringe cases where non-developers might have an issue with this. Whichever way you're doing this, it's wrong for different reasons.

If you de

[2020-05-11 02:35] biati-digital commented on #91
I fail to see "accessibility issues" if the keyboard navigation is not enabled on mobile devices creating an "hostile behavior" for you the developer.

When I asked for a use case I meant something for the rest 99.9% of non developers that will interact with the Lightbox. I know you want it and I know why you want it but that's not enough because even you said it

Please note I'm not trying to be

[2020-05-12 19:37] treeshuh opened #115 "2.0.6 breaking changes"
Thank you for continuing development on this project, we appreciate the effort for ongoing improvement.

### Description
2.0.6 includes many nice improvements, but by [semver](https://docs.npmjs.com/about-semantic-versioning) should probably have been a major version since it includes breaking changes.

### List of breaking changes
#### Breaking Change 1:  this.settings.selector no longer optional

[2020-05-13 17:38] #89 closed

[2020-05-13 17:55] biati-digital commented on #115
Hi @treeshuh you are probably right about the version

**Breaking Change 1: this.settings.selector no longer optional**
This is an error, the selector should be optional

**Breaking Change 3: New inlining of width/height changes default look**
Is there any way I could see your project? Is there a problem if you pass `width: 100% or 100vw` when you initialize GLightbox?

There are still some errors

[2020-05-13 18:01] biati-digital commented on #115
btw, thank you for your kind words, this type of comments makes my day 😄

[2020-05-13 19:47] Ariane-B commented on #115
I also really appreciate the update. Thank you for taking the time. :)

The new `openAt()` method is exactly what I wanted.

[2020-05-16 22:41] biati-digital commented on #115
Hi @Ariane-B thank you, I'm really glad the update worked for you 😄

[2020-05-16 22:41] biati-digital commented on #107
Closing as there was no response

[2020-05-16 22:41] #107 closed

[2020-05-16 22:41] #88 closed

[2020-05-16 22:41] #65 closed

[2020-05-16 22:42] #95 closed

[2020-05-16 22:42] #99 closed

[2020-05-18 12:43] zothynine opened #116 "The 'see more' link in the description throws an JS error when clicked"
First off, thank you for updating this library!
In the following function I get an error when the "See more" link is clicked in a slide description.
This only happens, when the description is not viewed as overlay (wider viewports).

[code]
`Uncaught TypeError: Cannot read property 'matches' of null`

The bug can be reproduced on the GLightbox Demosite https://biati-digital.github.io/glightbox/

#

[2020-05-26 21:40] brisa-pedronetto opened #117 ""navigator is not defined" on Gatsby build"
**Describe the bug**
I love this library and I really want to use it in my upcoming project so I'll ask for some help here. My website is a Gatsby project that uses Glightbox (imported with a simple `import GLightbox from "glightbox"` in a component).

Everything goes fine on development until I try to build, at which point it gives me the error: `  WebpackError: ReferenceError: navigator is not d

[2020-05-29 01:48] frankie-tech opened #118 "Adding aria/alt tag support for images"
**Please describe the feature you want to be implemented.**
Please note: The features should be something that everyone can use and not just something you need for your project.

I recently had to do an accessibility audit for a client and found that the images that were generated had no alt tags associated with them. I double checked the docs, and realized it was a feature I had made up. Still, I

[2020-05-29 01:57] biati-digital commented on #118
hi, you are right about the alt tag, I think your changes will work without problems, can you send a pull request?

[2020-05-29 02:01] biati-digital commented on #117
Hi @brisa-pedronetto I'm glad you like this library.

That part of the code is really old, I think there are better ways to detect mobile devices. If you want and have time you are welcome to fork and find an alternative for that line, if not I'll take a look as soon as I have some free time.

[2020-05-29 02:04] frankie-tech commented on #118
🎉 PR made! 🎉

[2020-05-29 17:52] CommissarXiii opened #120 "Calling `destroy()` throws an error when lightbox modal is not open"
**Describe the bug**
Calling `destroy()` on the lightbox instance when not 'open' throws an error.

![image](https://user-images.githubusercontent.com/165624/83289311-7bb20d00-a1aa-11ea-807d-c3c4db55f1f0.png)

The error appears to be thrown when trying to add a class to a non-existent modal element:

https://github.com/biati-digital/glightbox/blob/master/src/js/glightbox.js#L2179

**Are you able t

[2020-06-01 05:36] suryavardhan opened #121 "Videos are not playing in Instagram's in-app browser"
**Describe the bug**
Video is not playing on Instagram's in-app browser

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to instagram profile (Shall use my profile @pixelglimpse)
2. Click on the link in bio (Glightbox demo link)
3. Scroll down to Videos section
4. See error

**Expected behavior**
This is only happening in in-app b

[2020-06-02 06:42] fatihmert opened #122 "When set version to image, opened like video"
**Describe the bug**
When set version to image (or any http get query), opened like video. Example url;
[https://i.picsum.photos/id/237/200/300.jpg?v=5](https://i.picsum.photos/id/237/200/300.jpg?v=5)

Not only version you can set any HTTP GET query string. If this set any that, you will see image opened in iframe like video.

**Are you able to reproduce the bug in the demo site**
No.

**To Reprod

[2020-06-02 06:46] biati-digital commented on #122
Please before opening an issue take a look at the description and closed issues.

You can specify the url **type** so in those cases GLightbox can know that the url is an image.

[2020-06-02 06:46] #122 closed

[2020-06-02 13:36] brisa-pedronetto commented on #117
Thanks for the reply! Yes, I'll come back here if I happen to find a good solution for this.

[2020-06-02 22:52] ricardoalcocer opened #123 "Accessing plyr events"
Is there an easy way of listening to events triggered by plyr on a per-video basis?  I need to track ready, play, pause, ended, timeupdate, and perhaps others, but these events will be slightly different for each video.

I see it's being instantiated here: https://github.com/biati-digital/glightbox/blob/325f6d7aa094fe67d6d7cb7d2a92595c043b42dc/dist/js/glightbox.js#L1303, but how can I access it fr

[2020-06-02 23:59] biati-digital commented on #123
There's no way to access that for now, I could probably pass the Plyr instance on the methods **afterSlideChange** and **beforeSlideChange** for me it makes sense to add them here as afterSlideChange is triggered when a slide becomes active.

[code]

I'll work on this as soon as I have some free time.

[2020-06-03 00:02] ricardoalcocer commented on #123
Awesome @biati-digital
That makes sense to me too

Gracias!

[2020-06-03 19:41] dminkovsky commented on #113
I am trying to do this to. In my case, it is because I have hundreds of images, and will soon have thousands. I don't want thousands of dom elements to be created/appended when I open this plugin (https://github.com/biati-digital/glightbox/blob/325f6d7aa094fe67d6d7cb7d2a92595c043b42dc/src/js/glightbox.js#L2047). So, in my case, I would like to lazily control the elements as the user navigates.

[2020-06-04 00:03] kyledwagner commented on #103
This issue still persists in the latest update. I’m on the latest iOS 13.5. The full screen is hidden behind the website somehow and the X to close is still shown.

Can this be fixed somehow?

[2020-06-08 12:39] Hirbod commented on #11
Was about to implement this library but after spectating the API and examples I was disappointed that there is no mouse drag support. Sad, thats a exclusion criterion for a very good looking lightbox

[2020-06-11 09:19] Hirbod opened #124 "Make ZoomImages optional"
I would like to be able to add a a data-zoomable="false" to any image and a general "zoomable" when instantiating to disable it globally. Currently, the zoom feature is baked in.

[2020-06-11 13:45] biati-digital commented on #124
Hi @Hirbod, when asking a feature request please use the **Feature request** template, this feature was asked before, when I asked a reason for this the user replied

I'm closing this for now, feel free to open a new issue following the correct template and a valid explanation of how this will help a lot of users and not only a few.

[2020-06-11 13:45] #124 closed

[2020-06-11 13:58] biati-digital commented on #11
Hi @Hirbod the reason this feature is not yet implemented is that GLightbox has had 75,464 downloads only on npm (not counting GitHub downloads), and you can see on this issue that not many people have requested this feature.

![Screen Shot 2020-06-11 at 8 51 08](https://user-images.githubusercontent.com/1219228/84393207-ed358680-abc0-11ea-9cf5-336c655671f8.png)

[2020-06-12 00:37] crunchpaste opened #125 "Works with AJAX but not Fetch API"
First of all excuse my incompetence, as I'm rather new to web development.

I'm using a json file and template literal to fill a gallery grid. The json file looks like this:

`
[
{
"english":"Some Name, Rotation",
"img":"mGeorgiev",
"title":"Cyrillic Name, ротация"
},
{
"english":"Other Name, Reflection Symmetry",
"img":"kPavlova",
"title":"Other Cyrillic Name, огледална симетрия"
}
]
`

When usin

[2020-06-12 15:05] biati-digital commented on #125
Hi @crunchpaste i think your issue will be more appropiate for stackoverflow, it's recommended that you only posts issues with the library itself or feature requests as i do not have a lot of time to invest on this library and the time i have i use it to fix bugs or implement new things, you'll have more luck on stackoverflow.

[2020-06-12 15:05] #125 closed

[2020-06-16 14:50] henk23 opened #126 "Disable Plyr completely and just show the original YouTube embed iframe"
**Please describe the feature you want to be implemented.**
Make it possible to set `plyr: false` to disable Plyr completely and just show the original YouTube embed iframe without any "enhancing" control overlays.

**Explain why the feature is useful**
The original youtube embed iframe already has all the controls and is familiar to the user. There is no need for any "enhancement".

[2020-06-16 14:56] henk23 commented on #126
Nevermind. Just found out how to do it: `data-glightbox="type: external;"` :)

[2020-06-16 15:03] biati-digital commented on #126
Hi. A setting to disable Plyr will never be added for several reasons:

1.- Plyr offers a unified interface for all types of videos, YouTube, Vimeo, self hosted video and even audio.

2.- You don't have to be familiar with a player to understand it, I mean everyone knows how to use a video player, play, pause, change audio, etc.

3.- Plyr offers an extensive API to control the players so it's easi

[2020-06-16 15:03] #126 closed

[2020-06-19 10:59] melvas6 commented on #123
I too have a similar need to know if the end of video is reached.
Ability to trigger plyr event would be helpful.
Thanks for this beautiful project.

[2020-06-19 11:52] jschelkens commented on #123
This is also something I really could use at the moment (need to track when the video starts,  >= 25%,  >= 50%,  >= 75%, complete). Great project!

[2020-06-19 14:26] TidyLuke commented on #115
+1 for open at! Thank you for this.

[2020-06-20 18:23] cvalues opened #127 "swipe on mobile devices"
Hi,

first of all i want to say good job! Swipe on mobile devices to change content would be cool. Seems not work with this version.

sorry .. works on real mobile devices not with browser tests.

great job ;)!

[2020-06-20 18:32] #127 closed

[2020-06-21 16:38] #118 closed

[2020-06-21 17:16] biswajitpaul01 opened #128 "How to integrate in angular projects?"
Hi,

This plugin has tons of options that I like most. Can anyone suggest to me how to integrate with Angular 2 with an HTTP call? I have tried adding styles & scripts in angular.json file with the mentioned HTML structure provided in the example. But the plugin does not open any lightbox. The page navigates to the image URL.

Thanks in advance.

[2020-06-21 18:17] biati-digital commented on #128
Hi, the issues section here is intended for bugs with the library itself or feature requests, If you have doubts about implementation please post your issue in stackoverflow as i do not use Angular and the probability of someone else answering you is close to 0

[2020-06-21 18:17] #128 closed

[2020-06-21 18:49] biati-digital commented on #121
I don't think there's a way to debug this, if anyone has an idea please let me know.

[2020-06-22 00:30] biati-digital commented on #123
This has been implemented in the latest version 3.0.0, please check the [Events Section](https://github.com/biati-digital/glightbox#events) in the Readme, there's an example of how to access the player instance. Also there are two new methods called **getSlidePlayerInstance** and **getAllPlayers** check the Readme for more info.

[2020-06-22 00:31] biati-digital commented on #120
Hi, the error has been fixed in the latest version 3.0.0

[2020-06-22 00:31] #120 closed

[2020-06-22 00:32] biati-digital commented on #117
There's a new update, 3.0.0, could you please try it and let me know if you still have the same error?

[2020-06-22 00:35] biati-digital commented on #113
Hi, i had a few hours today so i implemented this, **setElements** now replaces all the slides even when the lightbox is open, **insertSlide** can now also be used even with the lightbox open and there's a new method **removeSlide**

You can find more information in the Readme.

[2020-06-22 00:36] biati-digital commented on #115
Closing this, we are now at 3.0.0

[2020-06-22 00:36] #115 closed

[2020-06-22 00:44] dminkovsky commented on #113
Super cool, thank you. Look forward to trying this out.

[2020-06-22 10:31] brisa-pedronetto commented on #117
Hey there, thanks for looking into this! At the moment I'm quite busy with other tasks but I'll come back when I mange to test. Otherwise I hope it will be useful for future users too! :)

[2020-06-22 16:07] RawMajkel opened #129 "CSS properties bugs in 3.0.0"
**Describe the bug**
1. CSS property "overflow-scrolling" doesn't exist.
2. CSS Unknown pseudo-element or pseudo-class ::last-child.

**Are you able to reproduce the bug in the demo site**
No.

**Expected behavior**
1. Remove the "overflow-scrolling" property and keep "-webkit-overflow-scrolling"
2. It should be ":last-child",

**Post the code you are using**
The code is in dist css files.

**Scre

[2020-06-25 11:09] zothynine opened #130 "Slide descriptions only scrollable as overlays"
Descriptions in slides are only scrollable when they are viewed as overlays. On right, left, bottom positions they are not scrollable when expanded with the "See more" link.

**Are you able to reproduce the bug in the demo site**
Yes|No.

**To Reproduce**
Go to https://biati-digital.github.io/glightbox/.
Make sure the description is not viewed as overlay.
Click on an image with a description, for

[2020-06-27 23:10] juddlyon opened #131 "Incorrect descPosition data attribute in example"
In [README.md under **Slide Options**](https://github.com/biati-digital/glightbox#slide-options) the configuration via data attributes example is incorrect.

`data-descPosition` should be `data-desc-position` since data attributes are required to be lowercase. JS will map it to _descPosition_ automatically.

_Side note: "desciption here" is missing an R._

Fixed version:
[code]

By the way, Glight

[2020-06-28 00:46] biati-digital commented on #131
Hi @juddlyon, thank you, the examples have been updated.

I'm glad you like GLightbox.

[2020-06-28 00:46] #131 closed

[2020-07-04 16:30] paxter opened #135 "Zoomed image is not scrollable on desktop"
**Describe the bug**
As the title states. Not testet on mobile.

**Are you able to reproduce the bug in the demo site**
Yes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://biati-digital.github.io/glightbox/
2. Click on first image
3. Second click to zoom
4. Try scrolling (won't work)

**Expected behavior**
Scrolling should be work or it's impossible to view all content of the

[2020-07-04 16:52] biati-digital commented on #135
That’s not a bug, the functionality is zoom and drag, you need to zoom and then drag the image to the parts you want to see (like the way you do in mobile with your finger)

[2020-07-04 16:55] paxter commented on #135
Hm ok. But that's not really intuitive for desktop systems. The first thing everybody tries to view a hidden area at the top or below is to try scrolling and not drag & drop the site content. This makes sense on mobile devices, but not on desktop.

[2020-07-04 16:57] biati-digital commented on #135
Yes it is, not sure how many lightbox have you tried but I’ve been using them for years and all of them worked the same way by dragging.

Also this library is reaching almost 100k downloads and this is the only comment I’ve ever receive about this.

[2020-07-04 17:04] biati-digital commented on #135
I’m closing this as it’s not a bug, feel free to open a feature request but the scroll probably will not be implemented unless you have a really solid argument and examples.

[2020-07-04 17:04] #135 closed

[2020-07-04 17:05] paxter commented on #135
Ok I see. Your argument is if everybody does the same it have to be correct. For me it's a bug, because the expected behaviour on html content who is bigger than the screen, is to have the option to scroll down/right/left.

[2020-07-04 17:12] biati-digital commented on #135
My argument is that if everyone does it certain way then people already know the functionality and how it works and use it. I’m not going to reinvent the wheel but again there’s always someone that it’s not happy and that’s ok you can always fork and do your own changes because this is not a bug.

[2020-07-04 23:23] biati-digital commented on #123
Closing this as it has been solved.

[2020-07-04 23:23] #123 closed

[2020-07-04 23:26] #35 closed

[2020-07-05 00:56] biati-digital commented on #130
Thank you for the pull request, closing this now 😄

[2020-07-05 00:56] #130 closed

[2020-07-05 00:57] biati-digital commented on #129
Thank you for letting me know. Fixed in the latest version 3.0.1.

[2020-07-05 00:57] #129 closed

[2020-07-06 03:23] kyledwagner commented on #103
The latest 3.0.0 release still has this bug issue. Even on the home page.

[2020-07-07 08:41] jschelkens opened #136 "data-gallery attribute doesn't work after upgrade >= 3.0.0"
**Describe the bug**
Before the upgrade, each gallery was grouped according to their data-gallery attribute. After update this is no longer the case (gallery is displayed as one big gallery instead of several different ones according to their data-gallery attribute).

**Are you able to reproduce the bug in the demo site**
No (there are no data-gallery attribute examples on the demo site).
Quick de

[2020-07-09 01:41] sammularczyk commented on #103
Same thing happens with the YouTube video on the homepage!

[2020-07-14 07:34] benl96 opened #137 "Youtube fast forward"
Hello there,

I'd like to ask if it is somehow possible to start a youtube video at a given time?

For example:

https://youtu.be/C0DPdy98e4c?t=5

Best regards!

[2020-07-14 07:52] #137 closed

[2020-07-14 07:53] benl96 commented on #137
Already found a solution...

https://developers.google.com/youtube/player_parameters#Parameters

Sorry for the ticket!

[2020-07-17 22:27] CNK001 opened #138 "Option to set parent instead of document.body"
It would be great if there was an option to set the parent instead of the default body. I use this in the Vue application, so the lightbox does not close after dynamically changing the route because it's in document.body.

[2020-07-20 18:47] iWanheda opened #139 "Disable sliding?"
How to?

[2020-07-20 19:03] biati-digital commented on #139
Hi, please before posting an issue, make sure to check the Readme first. There's an option called slideEffect, you can find more information in the readme.

[2020-07-20 20:42] haengle opened #140 "Option to disable preloading and/or gallery"
I am implementing glightbox on a site where a list of 7 links on a page will open a unique iframe (from pages on the same domain) in the lightbox. When 1 link is clicked, glightbox is creating slide elements for all 7 "slides" and preloading 2 of the iframes in addition to the selected one, which is causing issues as the browser is loading the same site 3 times.

It would be great if there was an

[2020-07-21 23:46] #139 closed

[2020-07-21 23:50] biati-digital commented on #140
I think an option to disable preloading could be useful, I'll add it in the next update.

[2020-07-23 22:12] Hirbod commented on #136
Any progress on this?

[2020-07-24 09:24] Hirbod commented on #11
I'll drop 100 $ via PayPal if this feature gets implemented

[2020-07-24 09:31] Hirbod opened #141 "Option to disable zoom feature"
Would be lovely to have a option disabling the zoom feature. I currently did it with CSS

[code]

which is a bit hacky to me

[2020-07-24 10:31] biati-digital commented on #11
Hi @Hirbod  Awesome, here's the link to PayPal, i can work on this feature this weekend once i receive the PayPal notification.

[![paypal](https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif)](https://paypal.me/bdigital9816/100usd)

[2020-07-24 10:50] Hirbod commented on #11
I'll drop 50$ now and 50$ when its done and tested, is that a deal?

[2020-07-24 11:06] biati-digital commented on #11
Hi @Hirbod I'm sorry, that will not work for me but i can assure you that the functionality will work correctly, once you try it you can give me your comments and let me know if something about the implementation needs to be adjusted.

[2020-07-24 11:08] Hirbod commented on #11
Well I already give you a advantage of trust for dropping 50% of the amount now - I need something in return :)

[2020-07-24 11:39] biati-digital commented on #11
Ok, how about this, if you pay the 100 upfront i'll include the option you want to disable zoom (This is a functionality that i don't think is necessary and has been requested less than the mouse drag feature otherwise the issue #141 will probably be tagged as feature request and hope a lot of people vote to add it)

Or you pay 75% upfront and 25% once done. This will not include the zoom option.

[2020-07-24 13:29] Hirbod commented on #11
I paid the 100$. Hopefully you also fix the gallery Id issue, which is more important then the zoom thing

[2020-07-24 13:46] biati-digital commented on #11
Thank you @Hirbod and yes the gallery issue was also planned for the next update.

[2020-07-26 15:40] biati-digital commented on #138
Hi @CNK001 is there a reason to not use the API and simply call the destroy method before the route is changed?

[2020-07-26 17:41] #113 closed

[2020-07-27 09:52] Hirbod commented on #11
Hi @biati-digital, did you manage to get it done through the weekend? :)

[2020-07-27 12:58] biati-digital commented on #11
hi @Hirbod, Yes, i'll release an update today as soon as i finish some tests.

[2020-07-27 17:58] biati-digital commented on #103
Hi, this should be fixed in the new update 3.0.2, please try it and let me know if it's working for you.

[2020-07-27 17:59] biati-digital commented on #116
Hi, this should be fixed in the latest version 3.0.2.

[2020-07-27 17:59] biati-digital commented on #136
This error is now fixed in the latest version 3.0.2.

[2020-07-27 18:00] biati-digital commented on #140
The new option to disable preloading has been added in the latest version 3.0.2, please check the README for more information.

[2020-07-27 18:00] #140 closed

[2020-07-27 18:01] biati-digital commented on #141
Hi @Hirbod the option has been created, it's a global setting and also can be overwritten by each slide using data-zoomable="false"

[2020-07-27 18:04] biati-digital commented on #11
The update has been released, the new version 3.0.2 includes this feature, new options and bug fixes, you can find more information in the readme. For draggable there's a new global setting called  **draggable** and can also be overwritten by each specific slide using data-draggable="false"

Please try it and let me know how it works

[2020-07-27 18:17] Hirbod commented on #11
Hi @biati-digital I just tested out, thanks for your quick work. It works, but what I personally do dislike is the fact that it automatically snaps when the threshhold is reached. It should work with kind of velocity and should only perform the real slide when the mouse was released.

[2020-07-27 18:24] Hirbod commented on #136
I can confirm that this Issue has been fixed

[2020-07-27 18:24] Hirbod commented on #141
Working great, perfect.

[2020-07-27 18:47] biati-digital commented on #141
Awesome, closing this now.

[2020-07-27 18:47] #141 closed

[2020-07-27 18:48] biati-digital commented on #136
Awesome, closing this issue now

[2020-07-27 20:04] biati-digital commented on #11
Hi @Hirbod, i do understand what you're saying, what do you think about having both behaviors? maybe have another option to enable or disable the automatic change when the threshhold is reached?

[2020-07-27 21:04] Hirbod commented on #11
Would be lovely.

[2020-07-28 12:50] Hirbod commented on #136
@biati-digital sorry I was too quick on this. This issue is not fixed. Only the very first gallery on each page works. Every other gallery with another ID I try to open throws now a

`Uncaught TypeError: Cannot read property 'create' of undefined`
<img width="925" alt="Bildschirmfoto 2020-07-28 um 14 49 54" src="https://user-images.githubusercontent.com/504909/88667406-9e489f80-d0e1-11ea-87eb-88c1

[2020-07-28 14:33] fuego161 opened #142 "Issues building Glightbox slides: `can't access property "create", t.instance is undefined`"
**Describe the bug**
I can't seem to get any GLightbox instance to build correctly, every time I try I'm met with the error `Uncaught TypeError: can't access property "create", t.instance is undefined`. I'm trying to create the GLightbox instance by passing the elements array.

**Are you able to reproduce the bug in the demo site**
Please see [this JSFiddle](https://jsfiddle.net/3xzjpL9d/). This J

[2020-07-29 05:29] ckybonist opened #143 "Crash when opening second gallery with multiple galleries in the page"
**Describe the bug**
1. I create one `glightbox` instance and specify multiple `data-gallery` on the page.
2. Open one gallery, navigate few images, then close.
3. Open another gallery, then the glightbox will throw the error:
![image](https://user-images.githubusercontent.com/3832925/88759603-bc73d580-d19d-11ea-9412-92f67bce8878.png)

Moreover, I couldn't close the lightbox container by clicking

[2020-07-29 07:51] Hirbod commented on #136
ping @biati-digital

[2020-07-29 09:52] biati-digital commented on #136
I'll take a look at that.

[2020-07-30 20:27] biati-digital commented on #142
I just published an update that should fix this error, please try it and let me know if it's working for you.

[2020-07-30 20:27] biati-digital commented on #142
I just published an update that should fix this error, please try it and let me know if it's working for you.

[2020-07-30 20:28] biati-digital commented on #143
I just published an update that should fix this error, please try it and let me know if it's working for you.

[2020-07-30 20:28] biati-digital commented on #136
I just published an update that should fix this error, please try it and let me know if it's working for you.

[2020-07-30 20:29] biati-digital commented on #11
I just published an update with a new option "dragAutoSnap", more info in the README 😃

please try it and let me know what you think.

[2020-07-30 20:37] fuego161 commented on #142
This works. Thanks for the quick fix!

[2020-07-30 20:47] #142 closed

[2020-07-31 04:02] ckybonist commented on #143
It's working! Thanks : ) @biati-digital

[2020-07-31 07:57] smarinade commented on #143
Thanks @biati-digital, it fixed my issue.

[2020-07-31 08:02] smarinade commented on #136
@biati-digital I'm running v3.0.3 and can confirm that the data-gallery attribute is working just fine. Thx
Tested on latest Chrome, Safari and Firefox

[2020-07-31 11:28] biati-digital commented on #143
Glad it's working, closing this now.

[2020-07-31 11:28] #143 closed

[2020-07-31 13:48] smarinade opened #144 "Ability to set data attributes for prev/next/close buttons."

[2020-07-31 13:59] biati-digital commented on #144
Hi @smarinade, this will probably not be implemented but you can easily add them, there's a undocumented setting called "lightboxHtml" it allows you to overwrite the entire html code of the lightbox [View the code here](https://github.com/biati-digital/glightbox/blob/8fab388270406a2d3dadca28f1add38b0a7d0ccc/src/js/glightbox.js#L111)

So you can do something like this:

[code]

The settings "lightb

[2020-07-31 14:06] biati-digital commented on #136
hi @smarinade awesome, thank you for testing the update.

[2020-07-31 16:25] smarinade commented on #144
Thx @biati-digital. Ill check it out .

[2020-08-03 01:06] Hirbod commented on #136
@biati-digital sorry, I can't confirm it. 3.0.3 is still throwing that error for me

[2020-08-03 01:16] biati-digital commented on #136
Hi @Hirbod that's weird, the fix has been confirmed to work by three people including the issue #143

Please verify your code or share a live demo so I can take a look.

[2020-08-03 01:17] Hirbod commented on #136
Ok, looks like that issue was on my end, since I am using glightbox inside a horizontal, infinite carousel. I call "destroy" on slideChange now and reinit glightbox, that works now @biati-digital

[2020-08-03 01:19] biati-digital commented on #136
Awesome, closing this now.

[2020-08-03 01:19] #136 closed

[2020-08-03 01:20] Hirbod commented on #11
I like it much more that way now, what I am still missing is that while dragging, the next/prev slide remains invisible (while it should be dragged into viewport, too, like in the mobile touch version).

I can live with that personally, but actually I really thought that you just gonna bring the same view from mobile to desktop using drag instead of touch. U kinda reinvented the wheel :D

[2020-08-03 01:35] Hirbod commented on #136
@biati-digital ok i was to fast on this again.
The Issu is, that I have a module based app. So I have multiple DOM-markups which initialize GLightbox, which ends up adding n (depends on how many galleries I do have per page) unlimited `<div id="glightbox-body">` body containers for me.

So it looks like I can only initalize gLightbox once per page...

<img width="670" alt="Bildschirmfoto 2020-08-0

[2020-08-03 01:51] biati-digital commented on #11
Actually that does not happen in the mobile version, you are not able to see the incoming slide until it's active.

This is because of the way the code was created to handle the slide effects/transitions.

But i can not deny that this is something I've been wanting to change.

[2020-08-03 01:52] Hirbod commented on #136
This also means I can't have multiple skinned galleries per page, which is sad. I would still consider this as a bug. I should be able to initialize as many lightboxes as I need with custom configs.

I might need to use .setElements and parse through the DOM myself instead of using data-gallery

[2020-08-03 01:56] biati-digital commented on #136
Actually that's a different issue not related to the galleries bug.

Please open a new issue for the bug you mention.

[2020-08-03 02:01] Hirbod commented on #136
Well I think they are kinda related since it wasn't clear to me and IIRC it wasn't a thing in 2.*. I'm in a hurry now, for now I cluttered `window` and injected my last Glighbox instance to it in order to destroy it. Super ugly but my time is running and its a hotfix for now.

[2020-08-03 02:29] biati-digital commented on #136
From a code perspective those are different issues not related to each other. I know the code that's why I prefer to keep the issues apart.

Anyway, I'm now aware of this and I'll investigate the issue.

[2020-08-05 21:55] roypardi opened #145 "Possible to play HTML5 Audio?"
I've searched through the issues (and the web) and I don't see anything about `glightbox` being able to play audio. Would it be possible to add this (or give me some tips on how I can implement this myself).

I see that `Plyr` is able to handle audio so maybe this wouldn't be too difficult?

I've tried a few things: specifying "audio" as type in my `elements` declaration (below), along with trying

[2020-08-05 22:29] biati-digital commented on #145
hi, glightbox does not support audio for now, setting the type to audio or using an iframe won't work, this is something that i plan to implement in the future but currently i'm really busy, i can not provide help with this but you are welcome to checkout the code in core/slide-parser.js, core/slide.js  and slides/video.js as it's really similar.

[2020-08-06 17:32] roypardi commented on #145
Hi – thanks for the quick reply!
I took a look at those files you mentioned and can see how to go about it.

[2020-08-08 03:33] Hirbod opened #146 "Add preventDefault via touchstart on lightbox to prevent navigation swipe"
Currently, swiping on the edge of the iPhone will trigger a swipe/pop gesture to navigate back.
Since iOS 13.4 we can finally stop this from happening and the magic is just this:

[code]

Please consider adding this (replace element with the lightbox of course).

[2020-08-12 21:07] schmidfelix opened #147 "e.getAttribute is not a function"
**Describe the bug**
I have installed the package via CDN and when I load the page I get following error:
`glightbox.min.js:1 Uncaught TypeError: e.getAttribute is not a function
    at e.value (glightbox.min.js:1)
    at e.value (glightbox.min.js:1)
    at Array.<anonymous> (glightbox.min.js:1)
    at a (glightbox.min.js:1)
    at e.value (glightbox.min.js:1)
    at e.value (glightbox.min.js:1)

[2020-08-13 02:36] biati-digital commented on #147
Thanks for the info. Actually this is different from the issue #132 that issue was fixed but in the latest update GLightbox was rewritten to separate the code in different files and folders and a similar error was introduced in the slides parser, with the info you posted and example i'll be able to fix this but probably wont be able to do it until this weekend.

If you want to send a PR, the probl

[2020-08-13 02:37] biati-digital commented on #146
Great, i'll include it and push an update this weekend with some other bug fixes.

[2020-08-13 07:23] schmidfelix commented on #147
I have created a PR #148

[2020-08-14 10:48] biati-digital commented on #138
Closing as inactive

[2020-08-14 10:48] #138 closed

[2020-08-14 10:48] #116 closed

[2020-08-14 10:49] #103 closed

[2020-08-15 18:46] nbayramberdiyev commented on #143
I still have this issue even though I'm using the latest version.

I created multiple galleries, and one GLightbox instance:

[code]

![glightbox](https://user-images.githubusercontent.com/23094428/90319429-c557fb80-df40-11ea-9374-9e8b082816a3.PNG)

[2020-08-15 23:08] biati-digital commented on #143
Hi @nbayramberdiyev i'm not able to replicate the error, it has been confirmed here and another issue that this has been solved. I also tried it in the demo site and i'm not able to replicate it.

Please try your code directly in the demo site, just download the latest release and try creating multiple galleries in the index.html file, if you are able to replicate the error in the demo site please

[2020-08-16 11:24] nbayramberdiyev commented on #143
Tried directly in the demo site, still get `Uncaught TypeError: Cannot read property 'create' of undefined` error. Added `data-gallery` attribute to the first two images in the demo:

[code]
As you can see in the code, I specified `data-gallery="g1"` and `data-gallery="g2"`. Didn't change anything else. Maybe I'm doing it wrong. Let me know if I'm getting this error due to wrong configuration.

[2020-08-16 21:03] biati-digital commented on #143
@nbayramberdiyev just tried your code in the demo site and it works, i don't get any errors and the lightbox works correctly, if you want you can set up a live example so i can take a look because i'm not able to replicate it and it has been confirmed by several people that this issue was fixed in a previous update.

[2020-08-17 04:23] biati-digital commented on #144
The README has been updated with information about this.

[2020-08-17 04:23] #144 closed

[2020-08-17 04:24] biati-digital commented on #117
i'm closing this as it has been inactive for a couple of months, feel free to open a new issue if you still have problems with this.

[2020-08-17 04:24] #117 closed

[2020-08-17 04:34] biati-digital commented on #147
Thank's for the PR, i ended up adjusting the code in another part as i didn't want to call the **parseConfig** method on an empty elements list.

Anyway, this is fixed in the latest version 3.0.4 and thank's again for the PR.

[2020-08-17 04:35] biati-digital commented on #146
Added in the latest version 3.0.4

[2020-08-17 06:22] LoisJo opened #149 "unable to implement youtube default styles"
Thanks for creating such a plugin! just one question . Is it possible to keep the default CSS styles of you tube videos in the lightbox? Currently it has the styles of plyr. Need help on this.

[2020-08-17 07:19] biati-digital commented on #149
Not possible, and everything related to the player should be posted in the Plyr repository but i really doubt this is something they will consider.

[2020-08-17 07:19] #149 closed

[2020-08-17 07:21] biati-digital commented on #11
Closing as this is already implemented.

[2020-08-17 07:21] #11 closed

[2020-08-17 07:28] LoisJo commented on #149
got it..
Thank u

[2020-08-19 08:30] marios88 opened #150 "openEffect / closeEffect no longer accepting "none""
**Describe the bug**
openEffect / closeEffect no longer accepting "none"

**Are you able to reproduce the bug in the demo site**
https://codepen.io/marios88/pen/YzqGpyK

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/marios88/pen/YzqGpyK
2. Click on text
4. See error

**Expected behavior**
Lightbox opens and shows image

**Post the code you are using**
[code]

**Scre

[2020-08-27 13:25] #145 closed

[2020-08-31 15:10] haengle opened #151 "IE11 does not support ".includes()""
When loading iframe popups in IE 11, the lightbox does not work because of a JS error around the use of ".includes()"

On line 1901, "if (url.includes("goajax=true")" is the issue -
In my project, I changed that line to use indexOf (which is what the string search for the hash is using):

`if (url.indexOf("goajax=true") > -1)`

and the popups function correctly in IE 11. I don't have any popups us

[2020-08-31 15:37] biati-digital commented on #151
Hi @haengle thank's for letting me know, i'll fix it in the next update.

[2020-09-02 00:00] jarisgv opened #152 "How to load only the object I click on"
On a page I have dozens of objects (gallery, iframes and links) to open via GlightBox, but when I click on one of the objects the plugin loads all the links so that the only object I want to see is shown. This can take a long time and the user's experience is compromised, causing them to even give up browsing.
How can I change it?

[2020-09-02 01:14] biati-digital commented on #152
Not sure what do you mean, GLightbox only loads the clicked element and preloads the prev and next item, there's also a setting to configure that, please take a look at the readme, post an example and please follow the issue template.

[2020-09-02 05:49] #152 closed

[2020-09-02 10:33] alancwoo opened #153 "Implement consistent CSS namespace for purgecss"
Due to the naming convention in the stylesheet, there are so many different prefixes one has to try to manually whitelist.

**Please describe the feature you want to be implemented.**
Ideally the stylesheet/convention would prefix evertying with `glightbox-` so that purgecss whitelist would be a one-liner.

**Explain why the feature is useful**
For any project using purgecss or similar

**Have you

[2020-09-02 17:05] biati-digital commented on #153
Hi @alancwoo i'm not even sure this could be a feature as the only purpose of this is to whitelist the classes in purgecss, this isn't something i will consider as i've limited time, you are welcome to send a Pull Request if you want.

[2020-09-07 08:45] Eschon opened #154 "Clicking outside the content to close only works in specific areas"
**Describe the bug**
Clicking outside the image to close the lightbox only works when clicking right/left of the image, clicking the areas above or below has no effect.

**Are you able to reproduce the bug in the demo site**
Yes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://biati-digital.github.io/glightbox/
2. Click on one of the images
3. Click the area above the image (I'

[2020-09-13 20:57] #153 closed

[2020-09-13 21:02] #147 closed

[2020-09-13 21:17] biati-digital commented on #154
Hi @Eschon, thank you for the detailed issue, the error is Fixed in the latest version 3.0.5

[2020-09-13 21:17] biati-digital commented on #151
Fixed in the latest version 3.0.5

[2020-09-13 21:17] #151 closed

[2020-09-13 21:18] biati-digital commented on #150
Hi @marios88, this error has been fixed in the latest version 3.0.5

[2020-09-13 21:18] #150 closed

[2020-09-13 21:19] biati-digital commented on #146
Latest version is now available on npm

[2020-09-14 06:34] Eschon commented on #154
Thanks for the quick fix! I've updated to 3.0.5 and everything works now.

[2020-09-14 06:34] #154 closed

[2020-09-16 06:41] Eschon opened #155 "IE 11 "Multiple definitions of a property not allowed in strict mode" when bundling and minifying glightbox"
**Describe the bug**
When bundling and minifying the library with our app the following segment gets merged into the defaults:

https://github.com/biati-digital/glightbox/blob/38ca3af04c18b2f2aac3e70a3d7444686a86dde1/src/js/glightbox.js#L111

Which conflicts with

https://github.com/biati-digital/glightbox/blob/38ca3af04c18b2f2aac3e70a3d7444686a86dde1/src/js/glightbox.js#L72

**Are you able to rep

[2020-09-17 22:55] treeshuh commented on #146
Hi, I think this change made it links on slides don't work - for example, my slides are inline elements with links out to other resources, but now those links can't be clicked because of the prevent default.

I rolled back to a previous version, but could you add this prevent default behind an option in a future update please?

[2020-09-20 04:13] ckybonist opened #156 "Slide parsing error as image description may not be a valid selector"
**Describe the bug**
The error happened when first character of image description is **dot**, for example:  `. 蛋黃切成30等份, 蒸熟備用.`

By viewing error stacktrace, I suspect the error is originated from slide-parser:
https://github.com/biati-digital/glightbox/blob/403b4293aaab4615e3f7d79789ce55d6c5f686c5/src/js/core/slide-parser.js#L141-L142

**Are you able to reproduce the bug in the demo site**
Yes

*

[2020-09-20 05:46] biati-digital commented on #156
Yes, as stated in the REDME, GLightbox can use the content of a div as the description so if you have **description=".mydesc"** the code will search for a div with the class name of "**mydesc**" and display it's content in the description, this is useful when the description requires HTML like links, tables, etc.

If you want to use the dot you'll have to add the text in a div and use as descripti

[2020-09-21 06:08] ckybonist commented on #156
It would be great we can use separate data-attribute for selector and text, e.g. `data-description` and `data-description-selector`, just a suggestion : )

[2020-09-21 06:08] #156 closed

[2020-09-21 14:29] nicobayati opened #157 "Plyr will be loaded even if it has already been loaded."
**Please describe the feature you want to be implemented.**

Hello, I want to use GLightbox and plyr seperately and together on one page. I include Plyr directly into the HTML code, but i noticed that GLightbox still includes the Plyr Source on the first time I open a video. I have not found a way to prevent this.

It would be nice to check of the Plyr class already exists and if it does, Plyr cla

[2020-09-21 20:19] robinjessome commented on #157
Or, is there a way for Plyr to be loaded and available to use outside the lightbox? Just wondering about the best way to use it across any videos on a site for consistency.

I get why you do this, but can we toggle that off and use one set of Plyr options to customize?

[2020-09-23 19:31] Hirbod opened #158 "Uncaught (in promise) ReferenceError: evt is not defined"
Newest Version, with multiple galleries on one site, I get:
Uncaught (in promise) ReferenceError: evt is not defined
@biati-digital

[code]

[2020-09-23 19:57] #158 closed

[2020-09-24 20:32] tpkahlon opened #159 "Is there a plan to add thumbnails/films navigation in lightbox?"
## Context

- A thumbnail/film gallery will provide more visual representation of navigation apart from arrows and touch events

## Position

- User can configure whether this film will show in top, right, left, order based on preference

[2020-09-25 00:23] biati-digital commented on #157
i'll add a fix in the next update.

[2020-09-25 00:23] biati-digital commented on #159
No plans for now.

[2020-09-29 11:54] #159 closed

[2020-09-30 18:31] jsunsawyer commented on #115
Just ran into this on a fairly recent project build. Didn't even realize that production was broken (and probably has been for a while). Our deploy process runs yarn install and had upgraded the version during the deployment of some other minor change since we launched this particular site.

Anyone who is on version 2 may be experiencing the same issue, and have broken galleries from breaking chan

[2020-10-01 01:18] rodsotdia opened #160 "Video not playing on mobile"
The video lightbox works fine on desktop, but on mobile doesn't autoplay (the lightbox is open, but the video doesn't reproduce), also, if you try to tap the play icons the video doesn't play.

The bug is also present on the demo page: https://biati-digital.github.io/glightbox/ I can't reproduce the videos on mobile.
I tested on an Android device.

A video that shows the bug: https://www.dropbox.c

[2020-10-01 02:08] rodsotdia commented on #160
Finally, I figured out how to get around about this issue:

[code]

The option `autoplayVideos` apparently doesn't work, so I used the option provided by **plyr** instead, in order to autoplay the video. The option `touchNavigation` needs to be **false**. If it is **true**, it doesn't allow tapping on buttons like play and fullscreen.

[2020-10-06 15:25] quarkcore commented on #144
[code]

this doesn't seem to work.. :(

[2020-10-06 15:27] quarkcore commented on #144
[code]

This doesnt seem to work. The instance I grabbed from the debugger still got the default html string.. :(

[2020-10-06 18:14] biati-digital commented on #144
I need to update the docs, you need to use **slideHTML** not _slideHtml_ sorry for that.

[2020-10-08 08:19] gabrielroman13 commented on #160
I had the the same problem and while your solution fixes it, you lose the ability to navigate trhough gallery.

`!function(t,e){"object"==typeof exports&&"undefined"!=typeof module?module.exports=e():"function"==typeof define&&define.amd?define(e):(t=t||self).GLightbox=e()}(this,(function(){"use strict";function t(e){return(t="function"==typeof Symbol&&"symbol"==typeof Symbol.iterator?function(t){

[2020-10-08 19:25] rodsotdia commented on #160
@gabrielroman13 That's correct. Fortunately, for the feature I needed it, I didn't use the gallery functionality, but yeah, it is a problem if you need it. I will check out the code that you shared. Thanks mate!

[2020-10-08 19:57] biati-digital commented on #160
Hi guys, i will take a look at this as soon as posible, the [releases page](https://github.com/biati-digital/glightbox/releases) has all the previous versions if you need it.

[2020-10-09 05:31] MatusBoa opened #161 "Import inside .ts file does not work"
**Describe the bug**
When I try to import glightbox with import, it throws exception that glightbox is not a function

[code]

**Are you able to reproduce the bug in the demo site**
No.

**To Reproduce**
Steps to reproduce the behavior:
1. Install glightbox
2. Try to import it

**Expected behavior**
It should work as expected. When i try to import specific js file it works

`import Glightbox from

[2020-10-12 23:20] CNK001 commented on #2
me too, do you how to force reload after each render?

[2020-10-15 19:00] ibasaw commented on #160
do you know which version is it excatly ?

[2020-10-19 11:07] gabrielroman13 commented on #160
Sadly not, I found only the minified production file not the hole master.

[2020-10-19 20:49] onigetoc opened #162 "Next - Previous on mobile"
Hi,
great Lightbox.

I have some suggestion mostly for mobile.

For mobile, the Next Previous arrow should be visible inside the popup.
It may interesting to swipe left and right on mobile for Next / Previous elements.
May be history because 1 / 3 time i thing like i'm on a app. and and go back on Android back et i lost the page i was in.

[2020-10-19 21:21] biati-digital commented on #162
The arrows will not be visible on mobile by default, if you want to display the arrows you can adjust the CSS to do so. You can already swipe for next and previous slide on mobile

[2020-10-20 10:49] robertimes commented on #86
+ 1 for thumbs, also see https://github.com/sachinchoolur/lightGallery

[2020-10-20 23:34] SebastianMG92 opened #163 "lightboxHtml doesn't work"
Hi, first of all, thank you all for your hard work and sharing the library. It is very efficient and complete.

I have a little problem about the lightboxHtml to change the design of the lightbox and it is that I set a string with any value of html and nothing happens.
I don't know why because the slideHtml value works.
any idea?

Regards !

[2020-10-20 23:48] biati-digital commented on #163
i've to update the docs, the correct property names are **slideHTML** and **lightboxHTML**

[2020-10-21 15:32] SebastianMG92 commented on #163
Thank you for the answer.
I don't see the difference with the last property name and It's doesn't work yet.

I want to add a box into the slide for implementing a pagination in a gallery lightbox, I refered my code.

[code]
Thank you very much!

[2020-10-26 16:17] #163 closed

[2020-10-29 07:06] ckybonist opened #164 "iOS < 10 not working"
**Describe the bug**
Clicking the image will not open the lightbox

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**

1. On iOS < 10 device, open Safari / Chrome
2. Navigate to `https://icook.tw/recipes/273676`
3. Click the recipe cover or step image
4. Lightbox not open
5. Open the console, one of the error would be `TypeError: Attempted to assign to readonly property.

[2020-10-31 04:24] #162 closed

[2020-11-04 13:53] gaz-think3 commented on #158
Did you fix this? I am having the same issue when I call .destroy()

[2020-11-05 15:18] ckybonist commented on #164
Just commit a [PR](https://github.com/biati-digital/glightbox/pull/165) to fix this issue, please have a look.
@biati-digital

[2020-11-05 16:03] brenjt opened #166 "Cannot add new slides"
**Describe the bug**
When calling `insertSlide` there is a javascript error `Uncaught TypeError: Cannot read property 'querySelectorAll' of undefined`

**Are you able to reproduce the bug in the demo site**
Yes, here is a demo with the most basic code to see the error: https://codepen.io/brenjt/pen/Exypprj

**Expected behavior**
No errors and the ability to insert more slides

**Post the code you

[2020-11-06 11:14] Lefthandmedia opened #167 "Tracking Video data with GTM"
Hi,

We use Glightbox for images and videos. We noticed that videos (Youtube and Vimeo) dont get tracked by GTM after being opened in the lightbox.
Because the  Iframe of a video is only created after the DOM is loaded, the videos ar not registered with Google Tag Manager.
Is there a way to get an event after the iframe is set in lightbox so we can register it upon opening the video?
Tnx
RDG

[2020-11-06 14:18] Lefthandmedia commented on #167
we figured it out through the PLYR api

[2020-11-06 14:18] #167 closed

[2020-11-08 09:40] wzol commented on #166
Same here. :(

[2020-11-09 12:23] Lefthandmedia opened #168 "Bump PLYR to version to 3.6.2."
**Explain why the feature is useful**
The CSS in 3.6.2 features CSS variables. so styling is easier to customise

[2020-11-09 15:14] Lefthandmedia opened #169 "Lightbox steals keyboard events from PLYR."
**Describe the bug**
The PLYR is not accesible for keyboard users. Plyr it self has great a11y keyboard shortcuts. They are just not usable  because Glightbox 'steals' the keyboard events.
This could be a feature too

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
- place an video in GL
- try to stop the video with the spacebar (or K k

[2020-11-09 15:28] Lefthandmedia commented on #169
Fixed this by adding
[code]

[2020-11-12 13:39] Lefthandmedia opened #170 "PLYR doesn't work when require.js is present"
**Describe the bug**
We have a site that partly uses require. Because of this PLYR doesn't get initialised

**Are you able to reproduce the bug in the demo site**
no, but i can on any testsite

**To Reproduce**
Steps to reproduce the behavior:
 - add require JS in the head of your page
- try to start a videoslide

**Expected behavior**
I would expect the slide to show PLYR with my video

**Post th

[2020-11-13 00:00] biati-digital commented on #170
Hi, I think the same, there's already an issue #157 requesting that, i'll update the code as soon as i've some free time.

[2020-11-13 00:00] #170 closed

[2020-11-18 11:15] marios88 commented on #150
Sorry to bother you again but

https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js

seems to point to the previous version with the issue still active

[2020-11-19 10:46] wm-simon opened #171 "Video from instagram not showing"
**Describe the bug**
Videos from instagram basic api are not playing.

**Are you able to reproduce the bug in the demo site**
Yes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://bit.ly/35LySha`
2. Scroll down to `instagram section`
3. Click on this image:
![image](https://user-images.githubusercontent.com/3351449/99655382-f40fd180-2a5b-11eb-8504-c1b0fa3b0c66.png)
4. Endless l

[2020-11-19 11:50] colorcube opened #172 "Add 'copyright' text support"
**Please describe the feature you want to be implemented.**

In addition to the _title_ and _description_ it would be nice to be able to display a copyright text.

Surely it could be done by placing a copyright text in the description, but that doesn't look very nice.

A copyright text should be displayed more subtle. I propose a small overlay text like so:

[code]

**Explain why the feature is us

[2020-11-19 11:56] colorcube commented on #172
This is what it might look like. The copyright text is in the lower left corner of the images (very subtle):

![screenshot-2020-11-19-12-53-21](https://user-images.githubusercontent.com/13253123/99663156-78675200-2a66-11eb-9cd8-133d92798468.png)

![screenshot-2020-11-19-12-51-09](https://user-images.githubusercontent.com/13253123/99662806-0989f900-2a66-11eb-82be-fe3a8c69632b.png)

[2020-11-19 13:35] biati-digital commented on #172
Hi @colorcube For me this is a no go, the slide description can already be used to add copyright or anything you want. GLightbox can be used in many ways so everyone can decide what's the best way for them to add the information they need and to be honest it's hardly visible in the second screenshot. I'll tag this a feature request and see if more people are interested in this.

[2020-11-19 13:39] biati-digital commented on #171
Hi @Pfeifakopf , your HTML it's not correct, you can not add HTML inside an attribute, please checkout the README and adjust your code. Also the data type video it's only for the supported platforms: youtube, vimeo and self hosted, you need to set it as an iframe

[2020-11-19 14:08] colorcube commented on #172
Thanks for your quick feedback.

Yes it's hardly visible in the second screenshot - that was a quick try.
I can understand to be not interested in a very specific feature.

To add a bit more background, in some circumstances it's mandatory to add copyright information to images.
On the other hand, it looks ugly as description. Often I get the request to add those information as subtle as possible.

[2020-11-19 15:21] Pfeifakopf commented on #171
@biati-digital Thanks for your fast answer! I removed the inside html and changed the data type to iframe, but it is still not working.

[2020-11-19 19:45] colorcube commented on #172
If anybody is interested, here's a fork with support for copyright information:

https://github.com/colorcube/glightbox

[2020-11-21 21:40] kylewetton opened #173 "Inline content doesn't include event listeners from the original nodes"
Inline content that may have event listeners assigned to them are cloned without these listeners into the lightbox.

Example: https://codesandbox.io/s/frosty-bardeen-bvhl5?file=/index.html

I understand that cloneNode() doesn't do this out the box, in fact I'm battling to figure out how this would even be done save for just moving the nodes instead of cloning them.

The only reference to this bein

[2020-11-22 01:01] biati-digital commented on #173
Hi @kylewetton nodes are cloned without events, this is not possible, there's no way to get all the registered events of a node with plain javascript, jQuery handles events in a different way, it has a record of all attached events to nodes (if i remember correctly) but only the events that were set with jQuery.

You need to use the API to set events in the slider content. Please take a look at th

[2020-11-22 15:56] sajjadalis opened #174 "Scroll feature for Zoomed-in Image for Desktop Users"
**Important.**
Someone posted a similar issue which was rejected for being not an issue. https://github.com/biati-digital/glightbox/issues/135

**Please describe the feature you want to be implemented.**
I know that drag is the feature for zoomed-in image but even on my own website, whenever i open an image, i try to scroll down first and then i say, oh right, it needs to be dragged. My partner (n

[2020-11-23 07:41] biati-digital commented on #174
Hi @sajjadalis i'm sorry but i'm not planning to replace the existing functionality or add and maintain another one, you are welcome to fork and implement that and if you want you can send a pull request to share it with the community.

[2020-11-23 07:41] #174 closed

[2020-11-23 19:38] lysyi3m opened #175 "Events cleanup on `destroy()` method causes exception"
**Describe the bug**

If there are custom events added using `.on()` method, `destroy()` method throws an exception.

Based on [source code](https://github.com/biati-digital/glightbox/blob/master/src/js/glightbox.js#L1213-L1215), `clearAllEvents()` method calls adds some new event instead of emptying an array completely.

**To Reproduce**

Steps to reproduce the behavior:
1. init lightbox
2. add a

[2020-11-24 10:34] CNK001 opened #177 "Description from image title, alt or figure figcaption?"
Hello! Thanks for this great plugin!
Is it possible to set description (image caption) based on image **title**, **alt** or figure **figcaption**?

Regards!

[2020-11-24 11:17] lysyi3m commented on #158
Related to https://github.com/biati-digital/glightbox/issues/175

Made a PR with fix https://github.com/biati-digital/glightbox/pull/176

[2020-11-24 12:06] biati-digital commented on #177
Hi @CNK001, It's not possible to set the description using those attributes.

[2020-11-25 04:53] #173 closed

[2020-11-25 08:24] Hirbod commented on #146
This is true for android devices. I am investigating

[2020-11-28 06:09] sayontan opened #178 ""data-title" Getting Overwritten when "title" is present"
I am the author of a WordPress plugin that displays galleries from various sources and attaches lightboxes to them (https://wordpress.org/plugins/photonic).

As a part of the next iteration of my plugin I was looking to add GLightbox to my codebase. While building this out, though, I encountered a problem. In my markup I use both, `title` and `data-title`. The `title` attribute has the title witho

[2020-11-28 15:42] biati-digital commented on #178
Yes, this should not be happening, data-title should not be overwritten if it has a value, i'll publish an update this weekend

[2020-11-28 22:57] sayontan opened #179 "Call to "insertSlide" fails if lightbox has not been opened"
This is my test case:

Let's say I have a gallery where I have 5 images. The gallery has an associated GLightbox instance, which has been set by initializing GLightbox with a selector. E.g.:

`lightbox = GLightbox({selector: '#gallery-1'});`

For the above I can click on an image and it shows up correctly in a lightbox.

I also have a separate button, not related to GLightbox, that lets me add pho

[2020-11-28 23:14] sayontan opened #180 "Call to "destroy" results in error"
Hello, and sorry for my third bug report in 24 hours.

I have observed that if I try to call the `destroy` function, I get an error saying:

[code]

In looking through the code, it looks like this is causing the issue:

[code]
I believe if you change it to something like this you will be fine:
[code]

[2020-11-29 06:57] biati-digital commented on #180
Hi, before creating an issue please try to search if that same issue already exists. This is a duplicate of #175 and your issue is #180. There's already a pull requests to fix this issue.

[2020-11-29 06:57] #180 closed

[2020-11-29 11:33] #175 closed

[2020-11-29 11:39] #177 closed

[2020-11-29 11:45] biati-digital commented on #179
Duplicate of #166

[2020-11-29 11:45] #179 closed

[2020-11-29 13:31] biati-digital commented on #171
Hi, sorry for the delay, my bad, you should set the data-type to "external" not iframe

[2020-11-29 16:45] qaleaddev opened #181 "Thumbnail are not fully loading - Mobile devices"
**Describe the bug**
It seems that when accessing the page that has a lightbox for the first time, iPhone and iPad devices are not fully rendering Thumbnail(s). The issue can be fixed by completely exiting the browser and reopening the page. Refreshing doesn't fix it.

**Are you able to reproduce the bug in the demo site**
YES

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to a pag

[2020-11-29 17:13] biati-digital commented on #181
This is the first time i hear this, i'm testing on an iPhone 11 with Safari and i'm not able to reproduce that error using the demo site.

GLightbox will simply create an img tag and add your image URL, i really don't think it's related to GLightbox, unfortunately i don't have the time to check it, you could try searching for "image partially loaded" in google or stackoverflow.

[2020-11-29 17:51] qaleaddev commented on #181
Hey @biati-digital, thanks for your prompt response.

I figured it out, I was using the same photo file size for both the thumbnail and modal photo. It seems that thumbnails file size have to be in smaller size. I resized all photos specifically for the thumbnail to be of a smaller size and all works now (60KB)

Please close this bug as resolved. Thanks so much!

[2020-11-29 17:52] #181 closed

[2020-11-29 18:56] biati-digital commented on #172
Actually this could be accomplished with the API, you can use the option "slideExtraAttributes" to register your new data attributes (this is currently undocumented)

[code]
GLightbox will get the value of those data attributes automatically, then you can use the event "slide_before_load" to append that data when the slide is created for the first time.

[code]

Just an idea... you can download th

[2020-11-29 18:57] biati-digital commented on #169
As you mention in your fix, the keyboard it's not working simply because it has no focus, if you focus the player all the player keyboard shortcuts will work correctly.  I'm not planning to change the default functionality as i'm sure there will be people creating issues about why the left and right arrow does not change slides.

For now i've create a new option called "autofocusVideos" to give au

[2020-11-29 18:57] biati-digital commented on #178
Fixed in the latest update 3.0.6

[2020-11-29 18:58] biati-digital commented on #168
Updated in the latest version

[2020-11-29 18:58] #168 closed

[2020-11-29 18:58] biati-digital commented on #166
Fixed in the latest update 3.0.6

[2020-11-29 18:59] biati-digital commented on #160
This should be fixed in the latest version 3.0.6

[2020-11-29 18:59] biati-digital commented on #157
Fixed in the latest update 3.0.6

[2020-11-29 19:00] biati-digital commented on #155
Fixed in the latest update 3.0.6

[2020-11-29 19:00] #155 closed

[2020-11-29 19:01] colorcube commented on #172
That looks exactly what I was looking for. I will try that (in the next days).

[2020-11-29 19:25] rodsotdia commented on #160
Awesome @biati-digital
Thanks for that. I will check out the new version soon.

[2020-12-04 23:11] n-dawson opened #182 "Multiple YouTube videos will always play last in group"
**Describe the bug**
When you have multiple YouTube links sharing a selector, clicking any will always play the last video in the group. The video you've selected will be shown but it will be the last video in the group of slides that is actually playing.

**Are you able to reproduce the bug in the demo site**
No*

*The videos shown on the demo site are from 3 different sources. Change all three l

[2020-12-04 23:13] biati-digital commented on #182
? please share a live demo or the code to copy paste.

[2020-12-05 02:36] n-dawson commented on #182
Thanks for your response. I've created a very simplified demo based on the example site:

[code]

[2020-12-05 03:18] biati-digital commented on #182
thank you for the code, i'm not able to replicate the error you mention, if i click the first link i see the correct video, the same for the others.

[2020-12-05 03:58] n-dawson commented on #182
I'll dig in to the code over the weekend but it's worth pointing out that this issue is new. We updated 3.0.5 -> 3.0.6 to solve an Android playback issue which is when we discovered this new problem. I've since looked back at the older setup and it's not an issue there.

[2020-12-05 03:59] biati-digital commented on #182
i'm testing in the latest version 3.0.6 and not able to see the error you mention, anyway if you find something let me know.

[2020-12-05 17:26] n-dawson opened #183 "YouTube autoplay broken on iOS"
**Describe the bug**
When you open a YouTube video in the lightbox on an iPhone, it looks as though it's loading but then stops. The player controls show a pause button as though the video is playing. The user must click pause and then play again in order to start the video.

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to demo

[2020-12-05 17:48] biati-digital commented on #183
Yep, that's weird, i just simply call the play method from Plyr, not sure why it's stopped, i'll take a look at this.

[2020-12-05 17:48] #178 closed

[2020-12-05 17:49] #166 closed

[2020-12-05 17:49] #157 closed

[2020-12-05 23:25] #169 closed

[2020-12-07 03:02] bloire opened #184 "detect <video class="glightbox" with multi sources plyr></video>"
Hello,

Why not detect automatically tag <video class="glightbox" with multi sources plyr>

Is it possible because I don't success ?

Thanks

Benjamin from France

[2020-12-07 03:06] biati-digital commented on #184
That's not possible

[2020-12-07 03:11] #184 closed

[2020-12-09 23:42] marcamos commented on #64
I found myself in the same situation: many **single** videos on a page, and I didn't want them to automatically turn into a gallery; just a one-at-a-time open/close experience. If it helps anybody else in the future, I used the small code-example above for my own fix, which became:

[code]

[2020-12-09 23:47] biati-digital commented on #64
Hi @marcamos thank you for sharing your solution, i'm still firm on the current functionality so i'm not planning to change it, instead i'm planning to add a new option to achieve this. it will be added in v4. in the meantime your solution will do the work.

[2020-12-09 23:49] marcamos commented on #64
Happy to share, thanks for the great work!

[2020-12-13 17:33] ux-paul-grossmann opened #185 "Separating Video/Picture Thumbnail Appearance"
Hey,

is there a way to integrate a play button overlay on every thumbnail? I mean the default-nonhover-state. Right now I'm trying to add this via css ::after and/or doing a workaround by simply placing that triangle play button right in photoshop and export it. Yet I can imagine that this feature is what users expect to find to be able to distinguish between an element indicating itself as a pic

[2020-12-13 21:00] sayontan commented on #171
I tried out the suggestion here - it doesn't seem to work. Specifically in case of the markup above (after removing the HTML attributes) if you set data-type to external, it seems to ignore the fact that you have a video altogether.

I did notice that your code is flexible enough to load external (non-local) videos as long as the files have a valid extension such as mov, mp4, ogg or webm. That is

[2020-12-13 21:12] biati-digital commented on #171
Hi @sayontan URL object is not supported by internet explorer that's why it's not used, as stated in the README, video support is Vimeo, Youtube and local video as that are the sources that Plyr supports. I'll rather offer a way for developers to pass a custom function to detect the source type.

[2020-12-13 21:19] biati-digital commented on #185
Sorry, this is not related to GLightbox, that it's entirely up to you. You'll have better luck on Stackoverflow as that it's really basic CSS

[2020-12-13 21:19] #185 closed

[2020-12-13 21:29] sayontan commented on #171
Ah, I thought you were using polyfills, but now I can see that you are not.

In any case, I need to support videos without extensions, so, pending an update from your end, I will keep my code (or a polyfill variant of the `pathname` by first separating the url on "?"). That will let my code work with the script.

Strictly speaking, Plyr doesn't talk about "local" videos explicitly - it supports an

[2020-12-13 21:46] biati-digital commented on #171
Yes, some future update (v4) will drop support for IE and maybe offer another version with polyfills, still deciding.

I'm aware of the video source, but this is exactly why i said only local videos, there are hundreds of services to store video. If someone uses a specific service and the video it's not displayed guess who they're gonna ask for support.

I'll take a look at this for sure, it would

[2020-12-13 22:55] biati-digital commented on #171
Closing this as there were no more replies from the original issue. Again, this is something that i'll try to implement in a future update.

[2020-12-13 22:55] #171 closed

[2020-12-13 22:57] biati-digital commented on #172
Closing this as the original issue has moved to another direction, feel free to open new issues if you found issues with the API

[2020-12-13 22:57] #172 closed

[2020-12-13 23:01] biati-digital commented on #182
Hi @n-dawson  Did you find something? Did you try it with the demo site? i'm still not able to replicate this issue. If you don't have time to test it now i'll close this issue.

[2020-12-17 10:29] MPParsley opened #186 "Add support for flickr video"
Flickr adds the following header: `x-frame-options: DENY`.

When embedding a flickr video, this results in the following error:
`Refused to display 'https://live.staticflickr.com/video/***' in a frame because it set 'X-Frame-Options' to 'deny'.`

Either we need to add documentation for the proper data-type or data-format to use for Flickr or add support to render Flickr video's without using an if

[2020-12-17 15:26] biati-digital commented on #186
As stated in the Readme, only YouTube, Vimeo and self hosted videos are supported.

There's no plans to add support to other services as that it's the job of Plyr, you are welcome to create an issue the the Plyr repository asking support for Flickr, if they add it GLightbox can use it.

[2020-12-17 15:26] #186 closed

[2020-12-19 16:20] #182 closed

[2020-12-19 22:22] colorcube commented on #172
Sorry for the late feedback.

It works fine except from a small error in the example. It has to be:
`const { slideIndex, slideNode, slideConfig } = slide;`

Thanks

My code is:

[code]

SCSS:

[code]

[2020-12-21 17:21] Nuuou commented on #182
I know this is closed, but I'm also experiencing a similar issue (with Vimeo, and it playing a seemingly random slide video).
Similar to @n-dawson, I started noticing this issue after updating from 3.0.5 -> 3.0.6.

Downgrading to 3.0.5 has resolved this issue for me again.

I've put together a demo of this bug in 3.0.6:
https://codesandbox.io/s/glightbox-306-bug-v4u66

Notice that on page load, cl

[2020-12-21 17:26] Nuuou opened #187 "Lightbox playing incorrect video with multiple videos in gallery"
**Describe the bug**
Using multiple videos (all Vimeo, not sure if relevant), clicking on a link to open the lightbox results in an incorrect video being played. This is a new issue for me in 3.0.6. Downgrading to 3.0.5 seems to fix this for me.

Related thread: https://github.com/biati-digital/glightbox/issues/182

**Are you able to reproduce the bug in the demo site**
No

**To Reproduce**
Steps

[2020-12-21 17:53] biati-digital commented on #187
If i click 1 or 3 i see the correct video https://cln.sh/qlSw38

[2020-12-21 20:07] Nuuou commented on #187
Apologies, let me rephrase! I realize that's misleading now.

While you _see_ the correct, video, wait a second and notice that another video is actually playing simultaneously (Video 2).

As the `autoplayVideos` is set to `true` by default, it's almost as if it's autoplaying the second one, which is incorrect. In your recording, you'll notice that the video you click _isn't_ autoplaying, which wo

[2020-12-21 20:49] biati-digital commented on #187
Hi @Nuuou ahhhh thank you for the explanation, yes, that's a bug. i'll try to take a look at this maybe next week, can't promise anything, i really need some time to rest i'm feeling exhausted.

[2020-12-24 18:08] Alexufo opened #188 "closeOnOutsideClick area not working"
Mouse click on red area works well but on other areas it does not work . In example on https://biati-digital.github.io/glightbox/
I can not reproduce this issue. I see this issue in my integration. How I can debug it?

![2020-12-24_20-49-41](https://user-images.githubusercontent.com/1562329/103102007-2b5d3980-462b-11eb-9caf-2f57f09402a1.png)

It works well on desktop. Mobile browser has it.

examp

[2020-12-25 06:09] Alexufo opened #189 "links in Inline content on Mobile not works"
Latest Chrome.

Open https://codepen.io/Alexufo/pen/NWRwqKN

1. Open devtool and set iphone X  as preset
2. reload page
3.  press red button

link will not press

[2020-12-25 22:50] biati-digital commented on #188
That setting will only work for desktop, on mobile you swipe up/down to close

[2020-12-25 22:52] biati-digital commented on #189
This is related to #146

[2020-12-26 00:19] Alexufo commented on #188
Swipe up/down doesnot work as you can see in example.

[2020-12-26 00:22] Alexufo commented on #189
touchNavigation: false help in my case.

[2020-12-26 00:22] #189 closed

[2020-12-26 05:32] Alexufo commented on #188
I use glightbox as popup and I dont want to change behavior between desktop and mobile. If I can close popup on desktop by tap outside - this approach must works on mobile.

as solution

[code]

[2020-12-26 06:27] biati-digital commented on #188
Yeah, on mobile swipe up/down only works for certain type of slides, for inline content it was deactivated because you can add any kind of content, the content can be larger than the screen and use scroll to navigate or you could implement your own touch events to the slide content, etc.

Glad you found a solution for your integration, I'll close this issue now, if you find any bugs please let me

[2020-12-26 06:27] #188 closed

[2020-12-26 07:46] Alexufo commented on #188
it should be documented. This is not expected (and not easy to understand) behavior.  Looks like a bug until you said about working scheme

[2020-12-26 07:46] Alexufo commented on #188
it should be documenteted

[2020-12-26 07:51] biati-digital commented on #188
Not sure if this should be documented, there has been more than 100k downloads and this is the first issue mentioning this but in any case pull requests are welcome.

[2020-12-28 11:16] CoolS2 opened #192 "draggable: false option not working"
**Describe the bug**

Still draggable with mouse

               `let elements = [];

                Object.keys(gallery).map((k) => {
                       elements.push({
                            'href': gallery[k].big,
                            'type': 'image'
                        })
                })

                const myGallery = GLightbox({
                    elements: elemen

[2020-12-28 14:01] Okipa opened #193 "Audio files not supported ?"
**Describe the bug**

Audio files are not handled in audio player.

**Are you able to reproduce the bug in the demo site**

No, as there is no audio file example.

**To Reproduce**

Steps to reproduce the behavior:
1. Instead of an image, set the the link URL targeting an audio file.
2. Click on the link, it will not open the audio file in an audio player but a lightbox background will be displaye

[2020-12-28 14:06] Okipa commented on #193
I didn't know if I should post this as a bug or a feature request, so please do not feel offended if that was intentionally not supported (well, I hope not !).

Would you know a quick workaround in a order to be able to handle audio files opening with glightbox ?

By the way, your lightbox library is the better I was able to find on the Web, and I am searching for some hours now ! Thanks a lot for

[2020-12-28 15:26] Okipa commented on #193
FYI I managed to work something out. Here is what I've done in order to add audio files support. You may be interested to reuse parts of it if you wish to add audio files support.

Another information: I use you library to only open the clicked `href` in `glightbox` rather than opening everything in gallery. This is why the treatment is embedded in this logic and , sorry for that.

### JS part

[c

[2020-12-28 18:45] biati-digital commented on #193
Hi, Audio files are not supported, I'm still considering adding support in a future version.

[2020-12-28 18:45] #193 closed

[2020-12-29 13:20] puleeno commented on #187
I have the same issue. Please fix it when you have free time. Thank you!!

[2021-01-05 07:30] biati-digital commented on #192
This should be fixed in 3.0.7

[2021-01-05 07:31] biati-digital commented on #187
This should be fixed in 3.0.7, please try it and let me know if it's working for you

[2021-01-05 07:34] biati-digital commented on #183
This is not related to the library, there's several issues on the Ply repository about this [https://github.com/sampotts/plyr/issues/1422](https://github.com/sampotts/plyr/issues/1422) There's nothing we can do to change this.

I've added more information in the README.

[2021-01-05 07:34] #183 closed

[2021-01-05 07:35] #160 closed

[2021-01-05 07:50] biati-digital commented on #146
This should be working on the latest version 3.0.7

[2021-01-05 07:53] #121 closed

[2021-01-05 07:59] #192 closed

[2021-01-05 14:14] spurin commented on #162
@biati-digital thanks for glightbox, it's amazing.

Adding more context here should someone wish to edit the css and enable the left/right navigation button, whilst in mobile mode.  The following changes, worked for me -

[code]

@onigetoc mentioned, for reference.

[2021-01-06 22:46] quoid commented on #160
There seems to still some issues here, which are also present on the glightbox website. I am testing on a Pixel 4A / 11.0 using Chrome 86 with a vimeo video. I have not experienced issues with iOS, but I have not thoroughly tested that.

**Config:**

[code]

**Results:**

Can not interact with the `data-plyr=play` buttons.

---

**Config:** *(changed autoplay to true)*

[code]

**Results:**

Video

[2021-01-07 00:28] biati-digital commented on #160
Hi @quoid

This new version uses Plyr "Native fullscreen" but it's supposed to be on iOS as the config name is "iosNative", please try to configure Plyr with the following options.

`fullscreen: { enabled: true, iosNative: false },`

Let me know if it changes something.

[2021-01-07 00:58] quoid commented on #160
@biati-digital

Thank you, that resolves the "fullscreen issue". It no longer exposes vimeo controls when I play a video and then touch the screen.

However, there are still the problems @rodsotdia mentioned  above with Android Chrome. when `touchNavigation` is `true`, I can not interact with the buttons. If I set `touchNavigation` to `false` I can get the video to play, but I can not get the plyr

[2021-01-09 07:50] wzol opened #194 "Version 3.0.7 puts "Player is" and "false" into console"
Just a minor thing, the new version puts some logs into dev console on open and slide change. Thanks for the update by the way! 👍

[2021-01-11 00:21] biati-digital commented on #194
hi @wzol, thank's for letting me know, I've already removed that code, I'll submit an update soon with some other improvements.

[2021-01-11 00:21] #194 closed

[2021-01-13 10:24] wnm opened #196 "Video in portrait mode is cropped"
Hi,

When I embed a vimeo video that is in potrait mode, like https://vimeo.com/496705079, it crops it up:

![Screenshot_2021-01-13 Asana Hawaii](https://user-images.githubusercontent.com/705094/104439547-7ff03680-5591-11eb-84dd-797f0cd7dec9.png)

Is there there an option that I'm missing, or is that an css issue?

[2021-01-13 13:16] wnm commented on #196
I think it's because glightbox is setting the plyr ratio option to 16:9

If I start plyr with the ratio option, it crops the video too:
https://codepen.io/wnm-the-lessful/pen/YzGJMpv

If I start plyr without the opition it loads the player in the ratio the video is in:
https://codepen.io/wnm-the-lessful/pen/poExBRj

Any way I can remove the ratio option in glightbox? I tried setting it to null or

[2021-01-19 17:17] Hirbod opened #197 "Remove debugging console.log"
Remove console.log debugging statements

https://github.com/biati-digital/glightbox/blob/master/src/js/glightbox.js#L745-L746

[2021-01-19 17:18] Hirbod commented on #164
I would not support any iOS 9 platform. Nearly all major apps even dropped iOS10 support and only support iOS 11+

[2021-01-20 19:44] styromaniac opened #198 "Make all required resources local."
I have a site that I would really like to have Glightbox, but because of the nature of the network (it's P2P), people prefer that sites have all resources be local instead of external. Can you please provide an identical version of Glightbox that is without CDN dependency?

[2021-01-20 19:47] biati-digital commented on #198
What CDN dependency are you referring to?

[2021-01-20 20:25] biati-digital commented on #198
You can configure that, simply store those files in your server and set the url to your local files, you can find more information in the README.

[2021-01-20 20:27] styromaniac commented on #198
I tried editing it to

plyr: {
  css: 'plyr.css',
  js: 'plyr.js',

  and then including Plyr's dist files in the same folder. Now the video doesn't play, but instead the loader keeps spinning.

[2021-01-20 20:29] DanielBielczyk opened #199 "Use inline content directly instead of cloning it"
I have a form that opens in lightbox. I bind submit event listener on the form which sends data with ajax. But when the popup opens, there is no listener. Original form stays in DOM and clone is put into lightbox - without listener cloned.
Is there any option to change this behavior? Or more generally - what is the reason to not use original element and clone it instead? IMHO using the original el

[2021-01-20 20:29] biati-digital commented on #198
You need to pass the full url to those files https://...

[2021-01-20 20:31] styromaniac commented on #198
I can't do that. Links must be relative. The site is accessed through localhost or other IP addresses, depending on the user's customizations

[2021-01-20 20:33] biati-digital commented on #198
Sorry, then it will not work, the code needs the full url

[2021-01-20 20:36] biati-digital commented on #198
Alternatively you can just download Plyr js and css files and add them directly in your site, Glightbox will detect it and will not include the cdn files.

[2021-01-20 20:39] styromaniac commented on #198
What folder would I drop the dist files into?

[2021-01-20 22:06] biati-digital commented on #198
does not matter, GLightbox just simply checks if Plyr has been loaded and if so it will skip the CDN files. just download plyr and add the script tag in your HTML, you can check the Plyr documentation for more information.

[2021-01-20 22:09] biati-digital commented on #199
Has been explained a few times before why the elements are cloned.

Just set your listeners using the API.

[code]

[2021-01-20 22:33] styromaniac commented on #198
Oh, cool!

[2021-01-20 22:43] styromaniac commented on #198
![Screenshot from 2021-01-20 17-41-53](https://user-images.githubusercontent.com/43807387/105249939-ed2e3980-5b46-11eb-8764-6d6e12c98028.png)

<script src="dist/plyr.js"></script>

Something isn't right.

[2021-01-20 22:49] biati-digital commented on #198
did you include the Plyr CSS file?

[2021-01-20 22:49] styromaniac commented on #198
My bad.

[2021-01-20 23:11] styromaniac commented on #198
Button SVGs are still loading from the clearnet.

[2021-01-20 23:16] biati-digital commented on #198
That's not GLightbox, that's Plyr, you'll have to read the Plyr docs, I'm 100% sure those svg can also be customized but can't remember right now how.

[2021-01-20 23:17] styromaniac commented on #198
Maybe data URI would fix it.

[2021-01-21 00:03] styromaniac opened #200 "Add audio file support."
MP3 files aren't making Glightbox load an audio player.

[2021-01-21 12:43] #200 closed

[2021-01-21 12:45] #198 closed

[2021-01-21 13:11] #199 closed

[2021-01-21 14:01] #187 closed

[2021-01-21 14:20] biati-digital commented on #196
That's weird, setting the value to empty should be enough, did you set your value like this?

[code]

If all the videos are vertical in the meantime you can try to set the ratio to `ratio: '4:6'`

[2021-01-21 14:22] biati-digital commented on #197
Done 😅, I'll submit a new update soon.

[2021-01-21 14:22] #197 closed

[2021-01-21 14:46] wnm commented on #196
hi, thanks for your reply!

setting the value to an empty string, does indeed work to let plyr figure out the right proportions based on the video.
It chooses the correct proportions for the vimeo video, but the video is still cropped, now probably due to some css rules?

![Screenshot_2021-01-21 TEST](https://user-images.githubusercontent.com/705094/105366141-4659a400-5bff-11eb-8187-f084daeaf715.p

[2021-01-22 10:15] FDiskas commented on #161
`import * as Glightbox from "glightbox"`

[2021-01-24 01:13] AndrianD opened #201 "Add a counter"
It's a great project, thank you very much! However I was thinking to myself, would there be a way to add a **counter** when browsing an image gallery for example? Something similar to 1 of 3, 2 of 3, 3 of 3, you know what I mean?
Well done anyway, it's a great job!

[2021-01-24 13:17] biati-digital commented on #201
Hi @AndrianD glad you like it. There's no plans to add a counter for now but there was and old issue about this #69 so maybe it can give you an idead about how to implement it. Since that issue the API has changed so you'll have to modify it. I'm not able to help with this as I'm really busy but if you need help you'll probably have luck in stackoverflow.

[2021-01-24 13:17] #201 closed

[2021-01-24 13:17] #161 closed

[2021-01-24 13:39] #146 closed

[2021-01-24 13:42] biati-digital commented on #196
I'll have to make some tests to find out what's happening, currently I don't have the time, probably till the end of February.

[2021-01-27 13:08] delrueba opened #202 "Aria-hidden"
**Please describe the feature you want to be implemented.**
Good work on implementing the body scroll lock!
To improve accessibility it would be wise to add aria-hidden=true on all root elements except the glightbox-container.

**Explain why the feature is useful**
Screen readers have different ways of navigating a web page, aside from tab and shift tab.
By placing aria-hidden=true on all root ele

[2021-01-27 15:16] Loocos commented on #86
Yeah, It would be great if it can be added by default

[2021-01-27 15:43] biati-digital commented on #202
Definitely, I'll add this in the next update.

[2021-01-27 16:29] Loocos commented on #86
Alright! This sounds great, when u think it will be available (the plugin system) ? if we can help you to create some plugins

[2021-01-27 16:35] biati-digital commented on #86
I've planned one more (minor) update "3.0.8" and then we'll be working on V4, this version will introduce the plugin system, I've no ETA yet, I'm finishing some projects so I've to focus on that first. I'll post a comment here once V4 is released.

[2021-02-03 22:32] TheOnlySpeedy opened #203 "Video always has maxWidth 900px because of hardcoded setting"
https://github.com/biati-digital/glightbox/blob/2ecad08e42c727559b82a618fcd2694697cc8f84/src/js/glightbox.js#L1080-L1082

I stumbled upon this library and must say: i really like it

but sadly, because of the hardcoded value above, videos are always a maximum of 900 pixels
is there any specific reason why it's done that way and not with `let maxWidth = slideData.width;` ?

[2021-02-05 14:45] bbbart opened #204 "failure to detect image sourcetype"
**Describe the bug**
A GLightbox pointing to an image gets wrongly detected as begin of the type `external` when the URL to the image does not end on jpg, jpeg, png, .... In my case, I'm having a URL like "/static/img/logo.png?h=12345", with 12345 a random number generated each time the image changes to force refresh caches.

**Expected behavior**
I would expect GLightbox to detect the sourceType

[2021-02-05 18:00] biati-digital commented on #204
this will be improved in the future as ie11 support will be removed, in the meantime you can specify the type, checkout the docs or the other closed issues.

[2021-02-05 18:00] #204 closed

[2021-02-05 18:10] biati-digital commented on #203
This is something I need to take a look, the problem is that I need to know the width and ratio to calculate the max height so it's resized correctly horizontally when the viewport width is smaller than the viewport height and resize vertically when the viewport height is smaller than the width, I need to update that part of the code to work with values like 90vw or 90% or update the CSS, not sure

[2021-02-07 13:09] bbbart commented on #204
got it; thanks for the prompt  reply!

[2021-02-10 18:13] ChrissiQ opened #205 "Lightbox closes if dragging up on image, despite dragToleranceY: 0"
**Describe the bug**
If there is an image in the lightbox, dragging up on it on a mobile device/mobile size on Chrome/Safari closes the lightbox.  The behaviour of closing when scrolling up can normally be disabled by setting `dragTolerance: 0`, but it does not work when trying to scroll down when an image is at the top of the lightbox.

**Are you able to reproduce the bug in the demo site**
No, t

[2021-02-10 23:09] biati-digital commented on #205
I'm not sure what you mean, images should not add scroll, unless you zoom the image but in that case the other events are disabled and it's really not scroll as we simply adjust the image position with CSS, the image should adjust it's size to fit the viewport, can you share a demo?

I'll check dragToleranceY as 0 should disable that functionality.

[2021-02-11 00:19] ChrissiQ commented on #205
There is an image at the top of the modal content and text below which cannot be seen until one has scrolled past the image.  Scrolling past the image on a touch device does not work, because attempting to drag up on the image closes the modal instead of scrolling down.

[2021-02-11 00:23] ChrissiQ commented on #205
@biati-digital This seems to be the offending code: https://github.com/biati-digital/glightbox/blob/f74dac2e2160ddc0f06664f7535cae591482246a/src/js/core/touch-navigation.js#L181

[2021-02-11 01:52] ChrissiQ commented on #205
Demo: https://jsfiddle.net/qwtj1vz6/1/show

Use a small touch device. When you attempt to scroll down the modal content, it will close because you dragged the image up.

Demo code: https://jsfiddle.net/qwtj1vz6/1/

[2021-02-11 03:36] biati-digital commented on #205
There's a few things wrong with your example, first, you can not add HTML inside a data attribute, you need to encode it or add your description in a different div, please checkout the README for more information, second, that's not the original GLightbox CSS so or slide HTML, GLightbox does not work like your example, for mobiles, the description is displayed below with a link to read more. If ex

[2021-02-11 03:40] frankie-tech commented on #86
@biati-digital I'd love to help out with that plugin system, be it converting current features to plugins or with developing the system itself

[2021-02-11 19:20] stallarida opened #206 "Newb Initialization Issues"
Despite following examples, I continue to get an "Uncaught ReferenceError: GLightbox is not defined" error.

CODE:
script is def getting included.  If I add, for example, a console log or alert to glightbox.js it fires.

CODE at bottom of page:
<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    const lightbox = GLightbox({
        selector:  'glightbox3',
        touchN

[2021-02-11 19:28] biati-digital commented on #206
Please take a look at the docs and demo site, if you need help please post it on stackoverflow. this is only for issues related to the library or feature requests.

[2021-02-11 19:28] #206 closed

[2021-02-11 21:05] ChrissiQ commented on #205
Thank you for looking into this.

I understand that this isn't the normal slide HTML, but I didn't think it should break due to our changes.  The docs do indicate that the lightbox is themeable and you can write different HTML with the `slideHTML` setting, so I don't see why that would interfere with the correct functioning of the slides.

I'm not aware of any rule regarding not including HTML ins

[2021-02-11 21:26] biati-digital commented on #205
Yes, GLightbox is themeable, the problem is that you are modifying the most basic type of slides "image slide" to make it work in a different way, you are basically modifying the image slide to make it work like an inline slide, you are better of using an inline slide.

For this library, it depends entirely on the HTML you add, there's been users adding links inside the link and other kind of HTML

[2021-02-11 21:26] #205 closed

[2021-02-14 05:05] #164 closed

[2021-02-14 09:15] plumthedev commented on #197
How is progress of that? When we can supposed to update?

[2021-02-16 09:35] Lefthandmedia commented on #170
This is still not resolved. when require.js is present on a page Plyr does not work.
 I still think you should check if the Plyr Module as been bundled in the project BEFORE  loading Plyr from the CDN.

[2021-02-16 16:38] Lefthandmedia opened #207 "Lightbox and Plyr do not work when Require.js is present on the page"
**Describe the bug**
When the page also has **Require.js** , Glightbox and Plyr do not work anymore.
We have Glightbox bundled in our app with webpack. But for legacy reasons require.js is also loaded on the page.
None of the modules in our project seem to mind except Glightbox

**Are you able to reproduce the bug in the demo site**
Yes

**To Reproduce**
Steps to reproduce the behavior:
- Add `<sc

[2021-02-16 20:33] biati-digital commented on #170
GLightbox checks if the Plyr class exists globally if not then it will load it from the CDN, this will work for most of the users, I'm not planning to do more changes to this part, I could add an option to disable loading Plyr from a CDN but this is something I need to review.

[2021-02-16 22:26] frankie-tech commented on #207
Does PLYR load without GLightbox?

If it does, I *think* you can just pass an empty string to `settings.plyr.js` and `settings.plyr.css` respectively in the settings object. It wouldn't be a solution, but it *might* at least get it to show up?

[2021-02-24 16:51] WilsonNet commented on #207
@frankie-tech solution worked, I loaded plyr from a cdn and passed empty strings and now it's working.

[2021-02-24 16:55] frankie-tech commented on #207
@WilsonNet Glad to hear it!

[2021-02-26 10:25] Lefthandmedia commented on #207
@frankie-tech I wouldn't know because we don't use Plyr. except through Glightbox of course.

[2021-02-26 13:27] frankie-tech commented on #207
@Lefthandmedia Right, you still need the code in your project somewhere. I'm suggesting rather than relying on GLightbox to load plyr as a dependency you use another method.

If you're loading GLightbox with require.js, use that. If you're bundling GLightbox with something like Webpack, add plyr as a dependency and import it manually. Then disable the CDN loading plyr in by passing in those string

[2021-02-26 13:31] Lefthandmedia commented on #207
@frankie-tech You're totaly right. I have a script that initialises Glightbox. I start that script now with. On top of leaving the `settings.plyr.js = ''`

[code]
And it works thanks a lot

[2021-02-26 13:47] frankie-tech commented on #207
No problem! Glad it worked out 😊

[2021-02-28 13:43] zzseba78 opened #208 "Can´t change video player width with parameter."
**Describe the bug**
Video player doesn´t change size using 'videosWidth' parameter.

**To Reproduce**
https://codepen.io/zzseba78/pen/NWbYvVx

**Expected behavior**
Video player should be 1200px in the example
https://codepen.io/zzseba78/pen/NWbYvVx

[2021-03-01 04:16] frankie-tech commented on #208
Currently there is a set max width of 900px to calculate aspect ratios, see #203.

I'm not able to check your CodePen, but are you able to change the width to something less than 900px?

[2021-03-01 13:33] hyperknot opened #209 "Image is pixelated on iOS"
**Describe the bug**
On iOS devices the displayed image is pixelated. When zooming in using a pinch zoom the details do not appear, instead very pixelated version shows.

When inserting a bare `<img src="..." style="max-width: 100%">` in a HTML page the image shows up perfectly without pixelation and can be zoomed in nicely using pinch zoom. Tried both with `zoomable: false` and true.

**Are you a

[2021-03-01 16:29] billmn commented on #208
Yeah, same here.

@frankie-tech I have tried with something smaller like 400px, it reduce the video width instead of the player width.

![Schermata 2021-03-01 alle 17 27 43](https://user-images.githubusercontent.com/779534/109527166-a6bbeb00-7ab3-11eb-920c-491ff306289a.png)